[2020-03-27 14:32] javen9881 opened #2971 "Browser always reload the whole page when I change one of the card color"
Does any find this issue and is it a bug?

thanks.

[2020-03-27 14:48] javen9881 opened #2972 "the efficiency to archive a card can be optimized"
I found it need 3 step to archive a card.
1. click the card to show card content
2. click 3-line to card actions,
3. click "Move card to archive"

it would be more efficient if I can press a keyboard shortcut to "move card to archive" when I show the card content.

thanks.

[2020-03-27 16:24] helioguardabaxo opened #2973 "Move "Rules" from "Board View" to "Board Settings""
As well as "Custom fields", the "rules" or "board rules" field could be in the "Board Settings" menu.

[2020-03-27 16:52] helioguardabaxo opened #2974 "Improvements on card details visualization"
My suggestions:
- separate "Description", "Checklists", "Subtasks" and "Attachments" with "hr" HTML tag
- create a exclusive item for "Attachments" instead puts with "Subtasks"

![Screenshot_2020-03-27 Quadro teste 2 - Kanban UFABC](https://user-images.githubusercontent.com/24301085/77779326-1bc7aa80-7031-11ea-9b19-b563286521a2.png)

[2020-03-29 07:44] wimvandijck commented on #2662
Similar with 3.86. There is no main.js or bundle folder.
npm install finished ok.

The install script is linux only.
There's no real install documentation in the tarball/zipfile.
Can anyone confirm this works on FreeBSD?

[2020-03-29 10:38] xet7 commented on #2662
@wimvandijck

As can be seen from [Dockerfile](https://github.com/wekan/wekan/blob/master/Dockerfile#L9), current used Node version is v12.16.1, latest npm, and some MongoDB v3.2.x - v4.x

Bundle usage is similar like at https://github.com/wekan/wekan/wiki/Raspberry-Pi

Newest bundle is at https://releases.wekan.team , currently wekan-3.86.zip .

That .zip file has bundle directory.

Settings are

[2020-03-29 11:38] uropro commented on #2662
wekan 3.86 works with FreeBSD 12.1 when installed as described above: PhantomJS and bcrypt fail to compile - delete PhantomJS folder. Move bcrypt folder away somewhere temporarily, then run `npm install` and finally restore bcrypt folder. Later  on you will see a message about performance impact due to the use of non-compiled bcrypt code. I didn't notice a problem with it.

@xet7 : Is phantomjs us

[2020-03-29 11:46] xet7 commented on #2662
@uropro

I don't know, it seems from https://phantomjs.org/ that "PhantomJS is a headless web browser scriptable with JavaScript." If you don't notice any problems, then I think it's not needed.

Binary bcrypt was removed because of security issue, so Wekan uses Javascript-based bcrypt. I have not tried to add binary bcrypt again. I think there is no noticeable difference.

[2020-03-29 11:50] xet7 commented on #2662
In general, current servers, browsers etc are so fast, that noticing any performance issues is only with very large boards and very big amount of users. Usually some bugfix can improve those a lot, because it could be just that too much data is loaded to webbrowser at once. Only visible data needs to be loaded.

[2020-03-29 11:54] uropro commented on #2662
After approx one year of usage, no user complained about missing PhantomJS, so I guess it is not needed.
Regarding bcrypt: I have the impression that `npm install` tries to compile it, which is not needed as @xet7 writes,  but I might be wrong. Anyway, the procedure of temporarily moving the bcrypt folder away allows to run `npm install` successfully (and removing PhantomJS).

Great software anywa

[2020-03-29 11:56] xet7 commented on #2662
Thanks @uropro :)

[2020-03-30 04:21] wimvandijck commented on #2662
Hey guys,

thanks all for quick feedback.
It seems the confusion was my mistake. I had first downloaded the source tarball v3.86.tar.gz :)

I got the zipfile from https://releases.wekan.team/wekan-3.86.zip and now it's all good ;-). Thanks!

[2020-03-30 12:30] mmasdoria opened #2977 "MongoDB Atlas (was: Wekan 3.86 et mongodb 4.2.3 replicaset doesn't work)"
## Issue

I have tried last version of Wekan with Mongodb replicaset 4.2.3 (mongodb Atlas).

MONGO_URL: mongodb://mongodb-atlas:xxxxxx@host1:27017,host2:27017,host3:27017/wekan-prod?ssl=true&replicaSet=wekan-replicaset&authSource=admin&retryWrites=true&w=majority

Wekan never connect to mongodb saying **member of replicaset can't be found**

Searching solution on google I found this post : https:/

[2020-03-30 12:41] xet7 commented on #2977
That's interesting, I have not yet tried Wekan on Atlas. I'll look at it.

[2020-03-30 14:17] mmasdoria commented on #2977
I found a solution for the image upload/download with mongodb.
After adding meteor package meanware/grid, I've modified file gridfs.server.js by adding the following code at the begining of fonction createReadStream as it was done in package cfs:gridfs:

`options = options || {};`

Now uploading/downloading an image seems to work.

Regards.

[2020-03-30 18:50] xet7 commented on #2971
@javen9881

Do you have newest Wekan?

What platform (Snap/Docker/Sandstorm/UCS/Source) ?

[2020-03-31 04:53] javen9881 commented on #2972
sorry, I found it, it is the C in keyboard.

[2020-03-31 04:53] #2972 closed

[2020-03-31 04:57] javen9881 commented on #2971
both in Docker(windows version) and windows(running by start-wekan.bat)
I tried with different version like 2.6*, 3.6* and 3.85. all of them have this issue.

[2020-03-31 08:44] adee opened #2978 "IFTTT: Move-to-top makes the card jump to the first list"
Wekan Version: 3.86.0; snap

We have a rule to move a card to the top of the list if a certain label is added. Now the button to set the rules is gone. The card moves to the first list in swimlane view when a label is added. This is definitely related to the IFTTT; only the label with the rule causes this.

Where is the button? Is this functionality deprecated? How can I remove the rule to stop th

[2020-03-31 11:52] xet7 commented on #2971
@javen9881

What webbrowser you have?

[2020-03-31 11:55] xet7 commented on #2971
@javen9881

Please add gif video about how that happens.

[2020-03-31 12:07] xet7 commented on #2971
@javen9881

Have you set ROOT_URL correctly?
https://github.com/wekan/wekan/wiki/Settings

[2020-03-31 12:30] xet7 commented on #2978
@adee

Rules are at Swimlanes/Lists/Calendar/Rules dropdown.

[2020-03-31 12:33] adee commented on #2978
Thanks. But there is a legitimate bug here. The card is not supposed to change lists. Only jump to the top of the current one. This used to work.

[2020-03-31 14:03] #2971 closed

[2020-03-31 15:18] jtbairdsr commented on #2471
@xet7 let me know what you think of my PR #2975

[2020-03-31 16:18] xet7 commented on #2471
@jtbairdsr

In those publications are you adding loading a lot more of board data to browserside? Or are you loading only visible data?

For example, some parts of current Wekan has:
- [Infinite scroll](https://github.com/wekan/wekan/pulls?q=is%3Apr+is%3Aclosed+infinite+scroll) to load only visible cards, and scroll a lot of info
- Bug that [Linked cards make load all cards of database](https://gi

[2020-03-31 17:26] jtbairdsr commented on #2471
@xet7

the publications are only supposed to publish data that is directly related to the users notifications... in the event that the user had a lot of old notifications that had never been deleted, it could impact performance... I am working right now on a scheduler that will remove read notifications 3 days after they have been read which would help keep things clean.  Does that answer your que

[2020-03-31 17:46] xet7 commented on #2471
@jtbairdsr

Yes that answer's it, thanks! All OK. I will test this in near future.

Currently I'm working on some other bugfixes to issues that appeared as regression when I did some security fixes to Wekan.

[2020-03-31 18:36] Keelan opened #2979 "Build from Source BCrupt@3.0.7 Error"
## Issue

    bcrypt@3.0.7 install /home/wekan/bundle/programs/server/npm/node_modules/bcrypt
    node-pre-gyp install --fallback-to-build

    internal/modules/cjs/loader.js:979
      throw err;
      ^

    Error: Cannot find module '../'
    Require stack:
    - /home/wekan/bundle/programs/server/npm/node_modules/.bin/node-pre-gyp
        at Function.Module._resolveFilename (internal/modules/cj

[2020-03-31 19:40] xet7 commented on #2979
There is no need to build from source or to run `npm install`, because there is prebuild bundle/.zip file wekan-VERSION.zip at https://releases.wekan.team , see https://github.com/wekan/wekan/wiki/Raspberry-Pi for install info. Node version required is currently 12.16.1, and MongoDB 3.2.x - 4.x (any of those, newest prefererred). You can use start-wekan.sh or SystemD service to run it.

[2020-03-31 20:28] Keelan commented on #2979
Using start-wekan.sh

https://i.imgur.com/Ux7fIdv.png

[2020-03-31 20:33] #2973 closed

[2020-03-31 20:58] #2974 closed

[2020-03-31 21:08] Keelan commented on #2979
`wekan@SECOND:~$ ./start-wekan.sh`

                                                throw(ex);
                                                ^
MongoNetworkError: failed to connect to server [127.0.0.1:27018] on first connect [Error: connect ECONNREFUSED 127.0.0.1:27018
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1137:16) {
  name: 'MongoNetworkError',
  [Symbol(mongoErrorContextSy

[2020-03-31 21:33] xet7 commented on #2979
In your `start-wekan.sh` you probably have this:
[code]
Usually MongoDB is installed to port 27017, so please change this to:
[code]
Sorry about confusion, I will make this change to Wekan source code.

[2020-03-31 21:50] Keelan commented on #2979
`wekan@SECOND:~$ ./start-wekan.sh`

  constructor(label, conf = {}) {
                          ^
SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Module.Mp.load (/home/wekan/.build/bundle/programs/server/runtime.js:15:31)
    a

[2020-03-31 21:57] #2979 closed

[2020-04-01 01:34] Keelan commented on #794
I'd really like to see this implemented also. I could do this with php fairly easily as a [middle man](https://github.com/MonstaApps/PHP-IMAP-Fetcher) and pipe to the api. But it would be preferred to be a built in feature.

Just poking around google drums up stuff out there.
https://stackoverflow.com/questions/20532083/receiving-email-on-meteor

https://github.com/mscdex/node-imap
https://github.

[2020-04-01 01:35] Keelan commented on #2414
Gitlab tracks via message-id in the header of the email
https://docs.gitlab.com/ce/administration/reply_by_email.html

[2020-04-01 01:42] helioguardabaxo opened #2980 "Minicard labels on the top and title on bottom"
The minicard labels could to be set on the top. The card title could to becomes below.

For do it:
minicard .minicard-labels {      float:none; }

Looks like this:

![Screenshot_2020-03-31 Kanban -](https://user-images.githubusercontent.com/24301085/78090196-d3491d80-739f-11ea-9979-46f5103f3854.png)

[2020-04-01 07:31] javen9881 commented on #2809
modified some words for easy understand

[2020-04-01 14:14] javen9881 opened #2981 "Does anyone know which free mailbox with its smtp works for Wekan board?"
Does anyone know which free mailbox with its smtp works for Wekan board?
I tried the Tom.com, 126.com... none of them workes.
I tested both in Docker(WIN10) and Windows wekan with EDGE

[2020-04-01 14:15] javen9881 commented on #2971
Thanks @xet7
I am surprised when saw these msg. thanks for your attention.

[2020-04-01 14:20] javen9881 commented on #2981
![捕获](https://user-images.githubusercontent.com/46272743/78148081-fe4a7480-7466-11ea-899f-cf09d673e359.PNG)
my settings:
SET MONGO_URL=mongodb://127.0.0.1:27017/wekan
SET ROOT_URL=http://192.168.50.138/
SET MAIL_URL=smtp://Whiteboard:131313jz@smtp.tom.com/?ignoreTLS=true&tls={rejectUnauthorized:false}&secure=false
SET MAIL_FROM=Whiteboard@tom.com
SET PORT=80

[2020-04-01 16:40] #2980 closed

[2020-04-01 19:17] jtbairdsr commented on #2471
@xet7
Awesome! Do you have any idea of a time frame on when to expect this to be released?

Also, is there anything else that I can do to help facilitate this?

[2020-04-01 19:29] xet7 commented on #2471
@jtbairdsr

I have already added review about what's missing at https://github.com/wekan/wekan/pull/2975#pullrequestreview-385157834

[2020-04-01 19:30] xet7 commented on #2471
@jtbairdsr

You can add additional commits to your pull request to fix those issues.

I will also try look would I be able to figure out why it does not work.

[2020-04-01 19:53] xet7 commented on #2471
@jtbairdsr

I also still get these errors https://github.com/wekan/wekan/pull/2975#issuecomment-606927651

[2020-04-01 22:35] xet7 commented on #2471
Merged https://github.com/wekan/wekan/pull/2975

[2020-04-01 22:35] #2471 closed

[2020-04-02 01:17] xet7 commented on #2978
In newest Wekan, Rules button is at Board Settings.

[2020-04-02 02:47] Keelan commented on #1953
`const swimlaneId = card.swimlaneId;`
Wouldnt this set the subtask swimlane ID to that of the current card's swimlane ID (parent)?

Is `swimlaneId` persistent across boards? Or if you plan to drop subtasks on the same board as the parent. If so then this makes sense.

If not, wouldnt we have to do some some swimlane position lookup on the parent board and to drop the subtask into the nth swimlane

[2020-04-02 05:08] TOSCom-DanielEder commented on #1953
That is absolutely correct, I was basing this on a same-board scenario I had in mind, which obviously fails to handle two-board scenarios.

I should say a matching by name is probably the most logical approach, as boards might have different amounts of swimlanes, and the swimlane position therefore might be off. If the name matching fails, falling back to the board's default lane should be a solid

[2020-04-02 07:18] fpaillot commented on #2785
Hi,
Is @superlou still working on this bug ?

@hever describe a way to fix it in #2688.

[2020-04-02 09:10] poulami123 opened #2982 "Wekan"
## Issue

my url is -http://127.0.0.1:2000/api/users/login
is that it will run only with HTTPS then how to implement in local machine

Add these issues to elsewhere:
- Snap: https://github.com/wekan/wekan-snap/issues
- LDAP: https://github.com/wekan/wekan-ldap/issues
- UCS: https://github.com/wekan/univention/issues

Other Wekan issues can be added here.

**Server Setup Information**:

* Note: Ple

[2020-04-02 11:32] xet7 commented on #2982
https://github.com/wekan/wekan/wiki/Settings

[2020-04-02 11:55] superlou commented on #2785
@fpaillot, not actively, sorry. For the bug I found, the problem was that the card was deleted, not archived, but I'm probably misunderstanding #2688. When I had a reference to an ID that no longer existed, the board would crash.

[2020-04-02 19:57] NicoP-S commented on #2951
@xet7 you did some changes a while ago (https://github.com/wekan/wekan/commit/bf78b093bad7d463ee325ad96e8b485264d4a3be)

There are two if statements which seems not to be true. Where will the sortable data attribute set?

https://github.com/wekan/wekan/blob/bf78b093bad7d463ee325ad96e8b485264d4a3be/client/components/lists/list.js#L142-L151

[2020-04-02 21:42] mvanvoorden commented on #2310
I have this as well, snap version 3.88.0

[2020-04-03 06:43] eksell commented on #1235
+1

[2020-04-03 09:34] javen9881 opened #2983 "how to use the user database for wekan from a discuzx forum?"
I am also running a Discuzx forum, how can let Discuzx user login Wekan?

[2020-04-03 11:17] Franosa opened #2984 "Feature Request: View Checklist Items and/or Subtasks on Front of Card"
I love that the kanban cards show how many checklist items are completed/left. I think it would be even more useful to have the option to view checklist items or subtasks on the the front of the card. If it was implemented for subtasks, it would be good to have the ability to check it off. This would allow someone to view more of the requirements faster without having to click into each card.

[2020-04-03 16:03] H0r53 commented on #1482
Was it ever determined if card attachments can be accessed from the API? I don't see any support for this in the documentation. I understand limited support for uploads at this time, but at a minimum, acquiring the attachments on a Card and their respective URIs would be extremely helpful.

[2020-04-03 17:40] FuXXz commented on #1574
The layout is unfortunately a static neck break. In the 21st century, it should be more flexible, fluid, and intuitive.
It could be that easy
With a split layout, which I can adjust individually. With the bar in the middle I can slide flexibly and choose the relationship between comments and content
Wekan should be able to do that
![Anmerkung 2020-04-03 193553](https://user-images.githubuserconten

[2020-04-03 19:55] bkraul commented on #2839
I wish there was some sort of crowdfunding site for bugs. 100 euro seems a bit steep for a single payer, especially for the reported issue. However, I am sure that a lot of us would crowd fund 100 (or more) in a jiffy. Maybe set up a PayPal bug squash collection campaign or something like that?

[2020-04-03 20:20] xet7 commented on #2839
@bkraul

There is already PayPal payment page. https://wekan.team/commercial-support/
Dropdown starts from 10 euro, there is alternatives 10/30/50/100 etc.

I would be very happy for any amount, it would encourage me to fix bugs. It would also show that there is still interest for Wekan.

For example at #2698, many commented that they would like to participate to funding that feature. But nobody d

[2020-04-03 20:23] xet7 commented on #2839
It's also possible to send with PayPal or TransferWise any custom amount to email address support@wekan.team

[2020-04-03 20:24] bkraul commented on #2839
Well, actually what you have is pretty much what I am suggesting. I'll take a look at it. Like I mentioned, I am not sure I could go to my company and say, "hey man, so the registration disable has a bug, but we can pay €100.00 to get it fixed", but if enough of us pitched in €10 euro (amounting to the €100 you are requesting), that would be cool.

[2020-04-03 20:27] bkraul commented on #2839
Granted, as you know, this is probably a bad time to motivate anyone to pay sums of money when like for example in the US our economy is basically at a standstill due to the virus. But if we get through this one, we will add wekan to our list of supported contributions, as we seem to be fixing to start using it more. (we have been trying it out for several months now).

[2020-04-03 20:43] xet7 commented on #2839
Well, I do know how corporate world works. I was previously working at a company as SysAdmin, they did pay thousands of euros for Jira and Trello. And when Wekan has unlimited boards, Wekan is free with MIT license, anyone from any company can contribute fixes etc, getting feedback that 100 euro is too much is kind of strange. Wekan web interface is a lot faster than Jira cloud web interface. Weka

[2020-04-03 20:46] bkraul commented on #2839
Well that's the thing man, we are not a big company. We are a small business. While we do well most of the time, we definitely do not qualify as a "big corporate company" by any means. I think I had mentioned before, I wish I was well-versed on meteor and other tech you use on this project. I love contributing.

[2020-04-03 20:56] xet7 commented on #2839
For small business, it would help to even pitch for that 10 euro. That would help.

Currently I'm a freelancer working at home. Those payments goes directly to my everyday bills like rent etc. I don't have anyone working for me. I do all maintaining Wekan by myself, create installers for many platforms, developing features, fixing bugs, answering to issues, creating documentation. And then there i

[2020-04-03 21:28] bkraul commented on #2839
So, I spoke to my CISO at my company, and he asked that if we went ahead and donated the €100.00, could you guarantee fixing of this issue in a reasonable time?

[2020-04-03 21:32] xet7 commented on #2839
@bkraul

Yes, this would be fixed at this month April.

[2020-04-04 01:32] helioguardabaxo opened #2986 "Improvements on card details items"
My suggestions:
- Separate items with "hr" HTML tag:
-- First line: "Received", "Start", "Due" and "End"
-- Second line: "Members", "Assignee", "Requested by" and "Assigned by"
-- Third line: Custom fields
-- Fourth line: Labels (class card-details-item card-details-item-labels could have
"max-width" more than 48%)

- put space between icon and title in "Description", "Checklists", "Subtasks" and

[2020-04-04 14:35] BjoernLudwigPTB commented on #1953
It's awesome to see so much activity around this proposal and @Keelan's idea of creating a more intuitive default behaviour as a first step. Thanks @TOSCom-DanielEder  and @Keelan !

[2020-04-04 14:48] BjoernLudwigPTB commented on #1953
We now have a more intuitive default behaviour resolved by #2976 described in the [according PR's comment](https://github.com/wekan/wekan/pull/2976#issuecomment-607693009). The UI setting described with a mock-up in the [opening comment](https://github.com/wekan/wekan/issues/1953#issue-370225557) is still desirable.

[2020-04-04 16:30] FuXXz commented on #2986
That would be a dream. So much potential is wasted on trifles.
Usability and layout is important!

It is currently a bunch of mixed values. Nobody can look through it.
If you use all values, it looks like so:
![1](https://user-images.githubusercontent.com/9010594/78455944-4bb22600-76a1-11ea-9164-0aaac90e8d78.png)

The Same for the Overview
![2](https://user-images.githubusercontent.com/9010594/784

[2020-04-04 17:25] FuXXz commented on #2986
The next point is the color of the cards.
Most colors destroy the layout, it would be better to place the card colors more discreetly on the side. not full background.
![grey](https://user-images.githubusercontent.com/9010594/78457130-51f7d080-76a8-11ea-9193-704f7e3d10c2.png)
![yellow](https://user-images.githubusercontent.com/9010594/78457132-5623ee00-76a8-11ea-8dd2-dfba1f2cf224.png)
![red](https

[2020-04-04 18:05] doggy8088 commented on #2527
Is there any document on this?

[2020-04-04 20:20] helioguardabaxo commented on #2986
One way could be use selected color with border left in minicard and border bottom in card details.
![Screenshot_2020-04-04 Kanban -(4)](https://user-images.githubusercontent.com/24301085/78460542-148b4700-7698-11ea-834f-b9aed7184b72.png)

![Screenshot_2020-04-04 Kanban -(5)](https://user-images.githubusercontent.com/24301085/78460545-1bb25500-7698-11ea-92ac-2a1029b9939a.png)

[2020-04-04 20:25] helioguardabaxo commented on #2986
Why not modify the color palette?

How about that?
![PaletaWekan](https://user-images.githubusercontent.com/24301085/78460659-feca5180-7698-11ea-930e-040567977a75.png)

  card-details-green   #309400 #3cb500 #56d818 #77de45
  card-details-yellow  #c3a900 #fad900 #ffe437 #ffea62
  card-details-orange  #d37b00 #ff9f19 #ffb246 #ffc470
  card-details-red     #d71c1c #eb4646 #ff6e6e #ff9898
  card-deta

[2020-04-04 20:50] #2982 closed

[2020-04-04 21:12] FuXXz commented on #2986
I can understand that some changes are valued differently. What person 1 thinks is good, person 2 thinks bad. Then there is trouble again.
You should get rid of static options. Why a pallete when a small field solves all problems?
![Anmerkung 2020-04-04 231001](https://user-images.githubusercontent.com/9010594/78461488-a3fd1e00-76c9-11ea-94fd-6713e71ea1b4.png)

[2020-04-04 22:03] xet7 commented on #1574
@FuXXz

I tried a little about that. Currently it's not flexible resizeable at middle, and opens on left only for cards at left so would need to be changed to a popup. Here is current In-Progress code as a starting point for someone interested in implementing this.

[diff.txt](https://github.com/wekan/wekan/files/4432598/diff.txt)

I really appreciate Wekan Community actively participating in Weka

[2020-04-04 22:42] FuXXz commented on #1574
This looks very nice
This Change alson with this
https://github.com/wekan/wekan/issues/2986
would give a nice usability

[2020-04-05 14:03] Farham0 commented on #934
Have same here with kind of media server running in Azure, I got an error like following

kurento-client.js:27362 WebSocket connection to 'wss://******.australiaeast.cloudapp.azure.com:8888/kurento' failed: Error in connection establishment: net::ERR_CONNECTION_CLOSED
ws @ kurento-client.js:27362
WebsocketStream @ kurento-client.js:27252
WebsocketStream @ kurento-client.js:27235
(anonymous) @ kure

[2020-04-06 02:58] xet7 opened #2987 "Send email or notification to newly assigned assignee"
I don't know does this exist yet, someone could check.

[2020-04-06 16:46] florentortiz opened #2989 "Date custom field, filter problem"
Hello,

I have some problems with custom field filters.

In fact I found that it is not possible to filter on the End Date, but it is possible to create a custom field Date and to filter on it.

I would like to specifiy a custom date field ‘Date de fin’ and then filter on it to find which cards are closed within this date, or in a specific range.

I can create a custom text field and filter on it

[2020-04-07 02:40] renanramos97 commented on #1150
Hello @xet7. This is the only open issue with "Beginner" tag associated to but it's last update dates from 1 year past today, is redmine integration not implemented yet?

[2020-04-07 07:30] grazius commented on #2815
yes it can be a nice feature

[2020-04-07 11:54] xet7 commented on #1150
@renanramos97

Yes, this is not implemented yet. There is a lot of example code at CSV issue #395 , also that issue is not implemented yet. This is waiting for any Wekan contributor that has time to help adding this feature, like most other issues too. It's not possible for me to work on all 587 open issues at once. I'm only one human.

[2020-04-07 11:57] xet7 commented on #1150
@renanramos97

Not all issues have tags added. In general, anyone can send pull request for anything that is not [at my Roadmap](https://boards.wekan.team/b/D2SzJKZDS4Z48yeQH/wekan-open-source-kanban-board-with-mit-license) marked `Urgent` or `TOP PRIORITY`.

[2020-04-07 12:05] helioguardabaxo commented on #2986
This is a good idea! Static options + custom color are a complete solution.
This don't resolve the problem with badges contrast color, but the user can opts for multiple colors in the card.

[2020-04-07 14:13] uusijani opened #2991 "Comment editing no longer works"
Comments can no longer be updated, as pressing the Edit button just reverts the comment back to what it was prior to editing. Both rich and non-rich editor are affected.

**Server Setup Information**:

* Wekan version: 3.89
* Operating System: Ubuntu 16.04
* Deployment Method: snap
* Http frontend if any: Apache
* Web browser: both Chrome and Firefox affected

**Steps to reproduce**
1. Add a comme

[2020-04-07 14:42] FuXXz opened #2992 "How can i Update Wekan snap"
Hello,

i haved read this doc https://github.com/wekan/wekan-snap/wiki/Install
and try to Update Wekan from 3.89.0 to 3.90 with sudo snap refresh.
But nothing happend, wekan is still on 3.89. What iam missing?

[2020-04-07 15:08] xet7 commented on #2992
Newest Snap is that 3.89 as you can see from https://snapcraft.io/wekan

I did try to build 3.90, but it did have errors when building it, so it's not released yet.

After I get it working and built properly, you will see versio 3.90 at https://snapcraft.io/wekan
and it will automatically install, or you manually install with `sudo snap refresh`

[2020-04-07 15:25] xet7 commented on #2635
This was fixed by:
- [Backup](https://github.com/wekan/wekan/wiki/Backup) or Docker Wekan
- Restore to [Snap Wekan](https://github.com/wekan/wekan-snap)
- [Nginx Config](https://github.com/wekan/wekan/wiki/Nginx-Webserver-Config) add websockets:
[code]
-  [Nginx Attachment Files size to 100M](https://github.com/wekan/wekan/issues/2103#issuecomment-455014303) (could also be bigger for bigger files)

[2020-04-07 16:19] helioguardabaxo opened #2993 ""Copy card link to clipboard" button in pt-BR out of div"
In pt-BR language the "Copy card link to clipboard" button seems out of div

![Screenshot_2020-04-07 Gestão do setor - 2020 - Kanban UFABC(3)](https://user-images.githubusercontent.com/24301085/78693517-bfd31080-78d1-11ea-9030-bc7debef179d.png)

This affect the delete card confirmation.

![Screenshot_2020-04-07 Gestão do setor - 2020 - Kanban UFABC(4)](https://user-images.githubusercontent.com/243

[2020-04-07 16:56] FuXXz commented on #2992
Merci for the Infos
I didn't really understand the concept of Snap.

[2020-04-07 16:56] #2992 closed

[2020-04-08 10:38] darren-teo opened #2995 "Filter by Assignee"
I guess this is more of a feature request. I'm able to filter cards by person if he/she is a member of the card, however I'm not able to filter if that person is an Assignee in the card.

Can the filtering be extended to assignee as well?

**Server Setup Information**:

* Wekan version: 3.86
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): docker
* MongoDB Version: 4.2.5

[2020-04-08 14:09] daniel-eder commented on #2995
Seems like a vital feature to me, implemented in https://github.com/wekan/wekan/pull/2997

[2020-04-08 19:31] brokencode64 opened #2999 "Docker build for arm64"
## Issue

It would be great to have a docker build for arm64 platform. Mongodb is easy enough to find, but would be nice to have a build for wekan!

[2020-04-08 19:37] xet7 commented on #2999
@brokencode64

Can you try to figure out how to do it? By searching for multiarch Docker?

Current amd64 docker-compose.yml is at https://github.com/wekan/wekan

arm64 bundle .zip file etc info is at https://github.com/wekan/wekan/wiki/Raspberry-Pi

Please add comments to this issue if you get progress, or that docker-compose.yml in .zip file attachment to this issue.

Thanks!

[2020-04-09 05:26] daniel-eder commented on #2995
@xet7 this can be closed. Thanks!

[2020-04-09 06:08] brokencode64 commented on #2999
I've actually spent some time around this but ran into issues with meteor. Will post back if I make more progress.

[2020-04-09 06:23] denish-kanabar commented on #2991
I am facing similar situation. Once comment added to any card, not able to delete/edit card and not able to delete that card itself or for that matter list also.

If I try to delete card/list then it comes back automatically.
Is there any script or api to delete card/list ? normal api to delete is not working if you have comments in it.
Any input will be appreciated. Thanks for tool.

Regards,
Den

[2020-04-09 07:58] darren-teo commented on #2995
Thank you. I can see the commit in 3.91 onward.

[2020-04-09 07:58] #2995 closed

[2020-04-09 09:42] Tampa commented on #787
I wonder how well file-based + redis would work to create a more independent data structure that does not require sql or similar at all, though this probably only makes sense if you have hundreds of boards and thousands of users.

[2020-04-09 10:05] xet7 commented on #2999
@brokencode64

You don't need to build it with Meteor. You just:
- unzip wekan-VERSION-arm64.zip
- set environment variables like MongoDB port etc
- `cd bundle`
- `node main.js`

[2020-04-09 10:06] xet7 commented on #2999
Also it's not needed to install meteor in Dockerfile.

[2020-04-09 10:11] sikmir commented on #787
SQLite would be the best option in case of single user setup on a cheap hosting with minimal resources.

[2020-04-09 10:24] xet7 commented on #787
@Tampa

Current setting for storing files to filesystem does not work well https://github.com/wekan/wekan/pull/2607

Alternative to current way to save attachments would be [this package](https://github.com/wekan/wekan/issues/142#issuecomment-499589447) that supports other storage.

Using Snap with attachments stored at MongoDB currently works best.

With everything as files, I would quess that on

[2020-04-09 10:31] slvrpdr commented on #2991
I was checking when this problem appeared.
It seems that it works properly in v3.87, but stops working in v3.88. Could it be related to the notification drawer feature?

[2020-04-09 11:09] bastos77 opened #3001 "Security issue with proxy usage on Apache database"
## Issue
Manipulated headers are provided with proxy redirections, which are then redirected to third parties.
This leads to very high traffic when using Apache webserver. Furthermore we see a security risk (not legitimate queries)
Example:

--
**Correct:**
[IP Adress] - - [05/Apr/2020:04:00:09 +0200] "GET / HTTP/1.0" 400 362 "-" "-"
[IP Adress] - - [09/Apr/2020:12:35:30 +0200] "GET /favicon.ico H

[2020-04-09 13:22] brianrc opened #3002 "Login Screen Not loading in Facebook's In-App browser"
When clicking through a Facebook messenger link to the board, the login screen fails to load. It just loads a blank light-gray screen.

It works fine on desktop browsers and in the Chrome mobile, but not the Facebook In-App Browser.

I couldn't find the version of the Facebook or Messenger App, but it's the latest I could install on Nexus 6P Android Version 9.

Waken Version 3.92.0

[2020-04-09 14:01] schneivo77 opened #3003 "Richt Text Editor: Closing Full Screen with Escape Key, destroys Board View"
## Richt Text Editor: Closing Full Screen with Escape Key, destroys Board View

**Server Setup Information**:
* Wekan version: v3.92
* Browser: Chrome 80.0.3987.149

**Problem description**:

When Richt Text Editor is enabled and I close the comment full screen view, using the ESCAPE key instead of clicking the Full Screen button again, the board is shown without navigation and cards.

**Steps to

[2020-04-09 16:08] XL-Reaper commented on #2490
I had the same issue.
Actually the defaults in the docker-compose.yml are missleading.
The quotes around
 # The search user DN - You need quotes when you have spaces in parameters
      # 2 examples:
LDAP_AUTHENTIFICATION_USERDN="CN=wekan_adm,OU=serviceaccounts,OU=admin,OU=prod,DC=mydomain,DC=com"

are wrong - at least for me. I removed the quotes, although I had a space in the CN and it worked im

[2020-04-09 17:24] uusijani commented on #2991
@denish-kanabar For undeleteable cards, see #2613 and a [workaround in the comments](https://github.com/wekan/wekan/issues/2613#issuecomment-549079613).

[2020-04-09 17:51] xet7 commented on #2991
@jtbairdsr

Do you have time to revert some of your notification drawer like Trello changes so editing and deleting comments would be again possible?

In general, notifications/activities features at Wekan are very complex and it's very easy to disable some Wekan features with some new code changes. This has also happened to me and other contributors many times, it's normal in complex software. Wh

[2020-04-09 18:08] jtbairdsr commented on #2991
@xet7

I will look into that right away.

Thanks for the heads up.

[2020-04-09 18:11] xet7 commented on #2991
Thanks @jtbairdsr :)

[2020-04-09 19:34] xet7 commented on #2991
Fixed at https://github.com/wekan/wekan/pull/3005, will be in next release Wekan v3.93 today or tomorrow.

[2020-04-09 19:34] #2991 closed

[2020-04-09 21:42] xet7 commented on #2950
@jtbairdsr

Do you have time to add activities and webhooks for these, if they don't yet exist?

- Archive board
- Create board
- Delete board
- Rename Board
- Rename Swimlane
- Rename Card

[2020-04-11 08:24] brianrc commented on #2986
It's so cluttered. Most all these items need to be moved over to the card menu. They are not used that often.

The card should be focused around the description and comments. All the other elements are visual ciaos. See Trello and how other Kanban boards do it. The comments could use some more breathing room too (padding).

[2020-04-11 11:34] FuXXz commented on #2986
@xet7 has already tried a little bit, Issue #1574 at https://github.com/wekan/wekan/issues/1574#issuecomment-609095074

And you need this basic informations of Dates, labels and other fields.
The suggestion from helioguardabaxo about the lines and "hr" tags is nice.

trello and others are successful with it and are accepted.
You can also decide for yourself. Wekan does everything right here
![Anme

[2020-04-11 14:36] helioguardabaxo commented on #2986
It's a great idea!
You could also have the option to select which elements to show on the minicard, just like it works in the custom fields.

[2020-04-11 19:42] xet7 opened #3007 "Notification error"
@jtbairdsr

I got this error about notifications. Do you have time to look at it?
[code]

[2020-04-11 19:45] xet7 commented on #2950
@jtbairdsr

This is not in any way critical or urgent, so I can also look at this sometime.

For you, this #3007 is more important.

[2020-04-12 03:40] FuXXz opened #3011 "Nested Commend / Reply to comments"
Hi,
Has this feature been mentioned before? Reply to existing comments, would be a pretty interesting feature.
Has nobody been interested in it so far?

[2020-04-12 03:45] FuXXz commented on #2876
First 250€ for a worker Role #2788, then 300€ for this Read-Only.
I Think it isn't productive to implement one role after another.
Why not implement an permission System, where you can add Roles and set up permission granually?
Would that be too extensive?

[2020-04-12 05:20] brianrc commented on #2986
@FuXXz True and that's a great feature, but it disables them completely. I'm saying all those options should be out of view unless in actual use.

You shouldn't have to scroll down in order to see the first comment. How is that productive when 95% of the time your opening the card to read the comments?

[2020-04-12 14:02] xet7 commented on #252
Feature added at https://github.com/wekan/wekan/pull/3008.

[2020-04-12 14:02] #252 closed

[2020-04-12 14:18] NicoP-S commented on #796
@xet7 I think this can be closed.

[2020-04-12 15:12] #796 closed

[2020-04-13 16:34] tomkpt commented on #562
YES, you are right ... "cPanel has recently introduced the possibility of hosting node.js apps with version 80."

Please guide us all .. How to Install WEKAN on CPANEL WHM

PLEASE PLEASE ... THANKs

[2020-04-13 17:06] beppe9000 commented on #562
From what I've seen cpanel expects apps to be fully compliant of phusion passenger [guidelines](https://github.com/phusion/passenger/wiki/Phusion-Passenger:-Node.js-tutorial#prepare-your-app).

[2020-04-13 17:09] tomkpt commented on #562
Thank you Bepee9000. Im not that much technical person.

In nutshell, can you please tell, is it possible to run WEKAN on CPANEL VPS or Dedicated Server (having ROOT Access)

Thanks again :)

[2020-04-13 17:22] xet7 commented on #3007
Fixed at https://github.com/wekan/wekan/pull/3010

[2020-04-13 17:22] #3007 closed

[2020-04-13 18:02] beppe9000 commented on #562
Me too am very ignorant on passenger. imho the more practical way is to bypass cpanel probably. so you should follow the install steps for [regular linux](https://github.com/wekan/wekan/wiki/Source) and use only cpanel to edit the proxy setting for the virtual host associated with the wekan domain.

[2020-04-13 18:24] xet7 commented on #562
@davicolet

Please use Snap that has automatic updates. There is very often security updates to Node.js etc.
https://github.com/wekan/wekan-snap/wiki/Install

Snap works on bare metal, KVM/XEN/HyperV/VirtualBox/VMware.

[2020-04-13 23:57] beppe9000 commented on #562
is snapd suitable for hosting "production" apps ? i.e. on a centos webserver with cpanel installed?

[2020-04-14 09:25] XL-Reaper opened #3016 "Saving email setting in Administration breaks email"
Wekan Version	3.95.0
Meteor-Version	1.10.1
Node-Version	12.16.2
MongoDB-Version	4.2.5

I have a weird problem with the email setup:
I am using docker-compose.yml with the following mail configuration:
[code]

In Administration I have set the same server, Port 25, No user / password and disabled TLS.
![image](https://user-images.githubusercontent.com/17750416/79208616-902c8700-7e42-11ea-86e6-1e752a

[2020-04-14 17:36] NoxInmortus opened #3017 "Changelog in releases"
Hello,

I would like to ask for the changelog to be added/deported to the releases as it can then be used for RSS news.

If it wasnt known : https://github.com/wekan/wekan/releases.atom provides an rss compatible flux that can be read easily with any RSS agregator supporting this format.

[2020-04-14 17:47] edgarvenom commented on #2962
my server had enough memory and space, I just had to restart the wekan service to reset them

[2020-04-14 17:47] #2962 closed

[2020-04-14 17:50] edgarvenom opened #3018 "board does not open"
I was working on an existing board, I was adding tasks and images when suddenly my board was no longer shown to me and it only kept loading

checking the logs I get the following error

[root@servidor ~]# systemctl status snap.wekan.wekan
● snap.wekan.wekan.service - Service for snap application wekan.wekan
   Loaded: loaded (/etc/systemd/system/snap.wekan.wekan.service; disabled; vendor preset: d

[2020-04-14 18:29] edgarvenom commented on #3018
I get this error in the browser

e339f46b5d423e51bee973e2efcd3e41942d7caa.js?meteor_js_resource=true:108 WebSocket connection to 'wss://board.polilla.studio/sockjs/693/m74w1ux2/websocket' failed: WebSocket is closed before the connection is established.

[2020-04-14 18:38] xet7 commented on #3018
What OS version that server is running?

[2020-04-14 18:38] xet7 commented on #3018
Do you have some webserver at front of Wekan? Like Caddy/Nginx/Apache?

[2020-04-14 18:45] edgarvenom commented on #3018
CentOS Linux release 7.6.1810 (Core)
 Nginx

[2020-04-14 18:51] xet7 commented on #3018
For Nginx, you need websockets enabled https://github.com/wekan/wekan/issues/2635#issuecomment-610452453

And also to `/etc/nginx/nginx.conf` define maximum filesize allowed, because if it's not big enough, big attachments etc are not visible at all and can not be uploaded, for example:
[code]

[2020-04-14 19:03] edgarvenom commented on #3018
I added what was requested, but I still can't load my board, and I still get the error in the wekan status

[2020-04-14 19:44] edgarvenom commented on #3018
/var/log/nginx/error.log:92:2020/04/14 12:11:44 [error] 338#338: *124399 connect() failed (111: Connection refused) while connecting to upstream, client: 189.216.181.158, server: board, request: "GET /sockjs/info?cb=m98qx1jn4r HTTP/2.0", upstream: "http://127.0.0.1:3001/sockjs/info?cb=m98qx1jn4r", host: "board", referrer: "https://board/b/bcAtfpXb96Shxx97X/proyectouvm"

[2020-04-14 19:47] xet7 commented on #3018
Is there any errors in browser inspect console?

[2020-04-14 19:48] edgarvenom commented on #3018
Uncaught TypeError: Cannot read property 'scrollTop' of undefined
    at n.scrollTop (e339f46b5d423e51bee973e2efcd3e41942d7caa.js?meteor_js_resource=true:524)
    at n.setView (e339f46b5d423e51bee973e2efcd3e41942d7caa.js?meteor_js_resource=true:524)
    at Object.disable (e339f46b5d423e51bee973e2efcd3e41942d7caa.js?meteor_js_resource=true:524)
    at n.click .js-multiselection-reset (e339f46b5d423

[2020-04-14 19:52] xet7 commented on #3018
At `All Boards` page, can you try clicking `Duplicate Board` and then try does the original or duplicated board open?

[2020-04-14 20:04] edgarvenom commented on #3018
I already tried it but it doesn't let me duplicate it nor does it give me the option to export it

[2020-04-14 20:11] xet7 commented on #3018
Are you BoardAdmin on that board? Next version of Wekan v3.96 will allow BoardAdmin to duplicate or archive https://github.com/wekan/wekan/pull/3013. I'm currently in progress of making that release. Please see https://snapcraft.io/wekan sometime today or tomorrow that it shows v3.96 and then manually update with `sudo snap refresh` and try can you duplicate board.

[2020-04-14 20:24] edgarvenom commented on #3018
I am an administrator of the boards, a user managed to get a json backup from the board, but it does not let me load it, it tells me that the page stopped responding

How can i charge my json?

[2020-04-14 20:39] xet7 commented on #3018
You edit that JSON file with text editor like Notepad++, GEdit, Kate, etc. It's plain text file.

[2020-04-14 20:47] edgarvenom commented on #3018
my json file weighs 133mb and I can't upload it to the dashboard in the import section,
Is there a manual way to load it?
How do I manually update my snap?

[2020-04-14 20:49] xet7 commented on #3018
Maybe you have deleted a linked card? #2785

If there is something remaining from linked card, it could be edited/removed directly at MongoDB database with nosqlbooster.

[2020-04-14 20:54] xet7 commented on #3018
Another possibility is, that if you can send [Backup](https://github.com/wekan/wekan/wiki/Backup) of your MongoDB database as .zip archive to me with:
https://www.dropbox.com/request/KQqepyd0Jr62GHfWETfF
and send email to me to support@wekan.team then I can try to fix that board and send fixed database back to you.

[2020-04-14 20:59] xet7 commented on #3018
Manual update of snap is with:
[code]
Creating new release is still in progress, it's not released yet.

[2020-04-14 22:55] xet7 commented on #3018
Snap v3.96 is now released.

[2020-04-15 04:18] edgarvenom commented on #3018
How do I get the backup of my mongo database to send it?

[2020-04-15 08:14] Tampa commented on #787
I merely explore for sake of simplicity, a "drag drop" install is always kinda cool to have, but I suppose the file locking is problematic, even on linux without setting ulimits. The Postgres thing is interesting though, while probably not offering better performance it may be more stable on very large installs. Though I doubt anyone is pushing it hard enough for Mongo to fall on its face either.

[2020-04-15 10:41] xet7 commented on #3018
[code]
Then upload with webbrowser to:
https://www.dropbox.com/request/KQqepyd0Jr62GHfWETfF
and send email to me to support@wekan.team then I can try to fix that board and send fixed database back to you.

[2020-04-15 11:32] xet7 commented on #2852
MongoDB Atlas #2977

[2020-04-15 11:49] xet7 commented on #787
Databases like MongoDB, SQLite, MySQL, PostgreSQL just store data to disk. Changing database does not affect performance noticeably.

What affects Wekan performance, is how much data is loaded to webbrowser. Currently images are loaded as big images. If there will sometime be a fix to generate and use thumbnails, boards would load much faster. Also sometime too many cards are loaded to webbrowser.

[2020-04-16 05:50] victordariovera commented on #2939
Hi! I think is a good idea implement some changes in UI and look and feel not only to make wekan more "modern" but a little more usable. I think that some tweaks in fonts, spacing and some controls can make Wekan more eye-catching than trello. :)

Some little ideas I have now, quick ideas:

- Improve line and paragraph spacing in activity history, text feels a bit compressed.
- Control in "hide mi

[2020-04-16 06:15] victordariovera opened #3021 "Wekan not load at all in Firefox v.68 for Android"
## Issue

Wekan not load in Fitefox v.68 for android. The login form not show at all. In Chrome for Android wekan works great. In Firefox Desktop (last version) works fine too.

![Screenshot_20200416-030755_Firefox](https://user-images.githubusercontent.com/25089852/79421084-75682880-7f90-11ea-8ee5-630d63987c55.jpg)
![20200416_030901](https://user-images.githubusercontent.com/25089852/79421097-7ac

[2020-04-16 14:36] xet7 commented on #2986
Moved to #1574

[2020-04-16 14:36] #2986 closed

[2020-04-16 14:38] xet7 commented on #1574
Moved to here from #2939

From @victordariovera

Hi! I think is a good idea implement some changes in UI and look and feel not only to make wekan more "modern" but a little more usable. I think that some tweaks in fonts, spacing and some controls can make Wekan more eye-catching than trello. :)

Some little ideas I have now, quick ideas:

- Improve line and paragraph spacing in activity history, t

[2020-04-16 14:38] xet7 commented on #2939
@victordariovera

Your issue moved to #1574

[2020-04-16 14:40] xet7 commented on #1574
Spacing will change a little when background image feature is ready https://github.com/wekan/wekan/issues/486#issuecomment-590308450

![wekan-background](https://user-images.githubusercontent.com/15545/75153392-f97dfc80-5713-11ea-9d10-aefa902b582d.png)

[2020-04-16 14:49] victordariovera commented on #3021
Here is my version of wekan, its latest docker image :D

<img width="794" alt="Screen Shot 2020-04-16 at 11 47 35" src="https://user-images.githubusercontent.com/25089852/79470887-51303a00-7fd8-11ea-94ca-12a70cbc8ca2.png">

[2020-04-16 15:01] xet7 commented on #2876
@FuXXz

Well, sure it would make more sense to have granular permissions.

[2020-04-16 15:03] immanuelfodor commented on #2698
Hi Everyone, I've just found this issue about Gitlab-Wekan syncing, but I've found no reference to a one-time migration, like moving all issues to Wekan from Gitlab, and then using Wekan only from that point. Does Wekan supports this, or is there any plugin/extension/workaround to achieve this when both tools are self-hosted? Apart from a tedious copypaste session :D

[2020-04-16 15:09] FuXXz commented on #2876
The question is how extensive / complicated would that be.
Unfortunately I can't do much myself, I'm not a programmer, but I can donate other ambitious programmers

[2020-04-16 15:46] colonelkrud commented on #2310
Same issue with Docker V3.96 (quay.io/wekan/wekan:latest)

[2020-04-16 16:00] xet7 opened #3022 "Feature Request: Granular Roles, create read only etc custo role permission combinations"
Moved to here from #2876

Current Wekan permissions are [Admin/BoardAdmin/NoComments/CommentOnly/Worker](https://github.com/wekan/wekan/wiki/REST-API-Role). Current permissions are hardcoded with changes all around Wekan codebase.

Granular Roles would bring:
- Settings at Admin Panel and REST API how to set permissions
- Each current permission from Roles, Card Settings etc to be defined separate

[2020-04-16 16:01] xet7 commented on #3022
[This issue at BountySource](https://www.bountysource.com/issues/91039511-feature-request-granular-roles-create-read-only-etc-custo-role-permission-combinations)

[2020-04-16 16:01] xet7 commented on #2876
Moved to #3022

[2020-04-16 16:01] #2876 closed

[2020-04-16 16:20] xet7 commented on #2698
Hi @immanuelfodor :)

Well, this issue [got paused in Roadmap](https://boards.wekan.team/b/D2SzJKZDS4Z48yeQH/wekan-open-source-kanban-board-with-mit-license/6fjTaDWXT5jJken2u). At beginning this issue had 50 euro funding. I did spend much more time than that at starting implementing this. After that, many promised to [participate in funding this](https://wekan.team/commercial-support/), but no-one

[2020-04-16 16:47] immanuelfodor commented on #2698
Thanks for the quick reply! Maybe it's solvable in an intermediate Gogs or git-bug instance but it would be so great to have an e.g. Python script that connects to a Gitlab with an access token, takes all issues from a repo, then recreates them on a Wekan board. Without UI or web integration, just a utility script as MVP with simple constants as input. Should I create a separate issue for that?

[2020-04-16 17:14] xet7 commented on #2698
@immanuelfodor

You can add your script in .zip archive as attachment to comment in this issue.

Another possibility is create Wekan board, export it to Wekan JSON, and export or save GitLab board, and convert to Wekan board JSON, and at all boards page `New Board / Import / From previous export`.

Some example code is also at CSV/Excel issue #395 that also is not in Wekan yet.

[2020-04-16 17:45] brokencode64 commented on #2999
@xet7 I created the following PR. There is a merge conflict of course with the changes that will need to be resolved. Let me know what changes or adjustments should be made!

https://github.com/wekan/wekan/pull/3023

[2020-04-16 17:53] immanuelfodor commented on #2698
Interesting idea, but looks doable.

There are various options to export Gitlab issues to CSV, after a quick search:
- Perl: https://gitlab.com/emobix/get-all-gitlab-issues-as-csv
- Python: https://collaborating.tuhh.de/hos/modernes-publizieren/offen/software/middleware/gitlab-exporter#pi-project-issues

AFAIK `jq` can parse CSV files then transform the data and output JSON, maybe it could be done

[2020-04-16 18:15] xet7 commented on #2698
You should install Wekan, first registered user is admin and can export. https://wekan.github.io

[2020-04-16 20:10] Keelan commented on #807
Does the API endpoint work for setting customfields value?

I cant get it to work.

I post something along the lines of the follow, it creates the card but never sets the customfield.

{```

	"title": "keelan test",
	"description": "Request to release closeout documents",
	"authorId": "a9XHevCteNWwBMGSK",
	"swimlaneId": "jPLm9MAQ7mLQQdnKP",
	"customFields": [{
		"_id": "mZEcWk6KSEaBg6H9N",
		"valu

[2020-04-16 21:08] xet7 commented on #807
@Keelan

After Custom Field has been added to board, and has some Custom Field ID, did use use Card API to add that Custom Field to card itself?
https://github.com/wekan/wekan/blob/master/models/cards.js#L2239

[2020-04-16 21:11] xet7 commented on #807
Maybe setting custom field is at edit card API only, not new card API.

[2020-04-16 21:13] Keelan commented on #807
The customfield I added to the board via the wekan Gui.

Now I'm trying to set the values of the field via the card api

On Thu, Apr 16, 2020, 5:08 PM Lauri Ojansivu, <notifications@github.com>
wrote:

[2020-04-16 21:21] xet7 commented on #807
What programming language?

[2020-04-16 21:41] Keelan commented on #807
PHP using curl and setting content type to json

[2020-04-16 22:08] xet7 commented on #807
It's something similar to this curl command:
[code]
That custom field format is from here:
https://github.com/wekan/wekan/wiki/REST-API-Custom-Fields

[2020-04-16 22:08] Keelan commented on #807
https://i.imgur.com/SXuwH8T.png

[2020-04-16 22:10] Keelan commented on #807
https://i.imgur.com/htlHrN0.png

[2020-04-16 22:10] xet7 commented on #807
There is login etc general info about API here:
https://github.com/wekan/wekan/wiki/New-card-with-Python3-and-REST-API

[2020-04-16 22:12] Keelan commented on #807
Im familar with api and i can generate the cards (i have a bunch of code doing this already)

This is the first time ive tried setting a custom field via API tried via PUT (update a card) tried via POST (new card creation)

[2020-04-16 22:14] xet7 commented on #807
Did you export board and look that there is correct boardid/swimlaneid etc?

[2020-04-16 22:14] xet7 commented on #807
because that curl command did work for me

[2020-04-16 22:17] xet7 commented on #807
anyway, good night, I'll look tomorrow did you reply

[2020-04-16 22:19] Keelan commented on #807
Lol i missed the quotes around customfield in the json string.

But ya i think this is PUT only. I cant seem to get it to work with POST

[2020-04-17 06:23] xet7 commented on #807
@Keelan

You can add it to POST in that cards.js if you like, with pull request.

[2020-04-17 15:37] xet7 commented on #2999
@brokencode64

I had to rename Dockerfile.amd64 back to Dockerfile because automatic builds at Docker Hub and Quay.ioi did not find Dockerfile and then failed.

[2020-04-17 16:36] Keelan commented on #2096
Did this ever get complete?
I have a need to set fields such as the dates on POST and PUT.

[2020-04-17 16:43] xet7 commented on #2096
@Keelan

You can read API code, and if it's missing, add it with pull request. Thanks!
https://github.com/wekan/wekan/blob/master/models/cards.js#L2119

[2020-04-17 16:52] Keelan commented on #2096
If i was comfortable with the language i definitely would. PHP is where i live.

I see the `edit_card` has a bunch more fields to set. Maybe ill have a crack at modifying that code into the `new_card`, thoughts?

[2020-04-17 16:57] xet7 commented on #2096
@Keelan

Already before newbies with no Javascript experience [have added major features to Wekan](https://blog.wekan.team/2018/05/wekan-v1-00-released/). Just read that code, and add missing fields.

[2020-04-17 17:08] xet7 commented on #2096
All Wekan REST API code is at `wekan/models/*`. So to add missing API, you just basically copy-paste similar code from same or different file to be the new API.

[2020-04-17 17:15] Keelan commented on #2096
@xet7 i've forked ill take a look this weekend. And hopefully push something over.
SOmewhat related, getting a list of labels for a board doesn't seem to be present in the API either

Only `PUT`
https://github.com/wekan/wekan/blob/master/models/boards.js#L1640

Ill take a look at that also.

[2020-04-17 17:18] xet7 commented on #2096
@Keelan

Thanks a lot ! Yes, a lot of API is missing, like modifying what is allowed to be visible at cards, like due date etc.

[2020-04-18 00:51] raouldo commented on #812
++ Kimai & Wekan integration. Perfect match of FOSS software.

[2020-04-19 06:58] cherio commented on #2120
It is a shame there is no good solution for disabling snap auto updates. The pain I feel is like the one when Windows forces an update on you and there is not much you can do.

One hack I use is disable access to the update site in `/etc/hosts` by adding a line
`127.0.0.1 api.snapcraft.io`

An even uglier solution is adding a rule in IP tables dropping packets designated to `api.snapcraft.io`.

It

[2020-04-19 09:26] xet7 commented on #2120
@cherio

It's a shame many are running old vulnerable Wekan versions.

[2020-04-19 09:30] xet7 commented on #2120
@cherio

With Docker and [Prebuilt Bundle](https://github.com/wekan/wekan/wiki/Raspberry-Pi) installs it's possible to run any Wekan version, those do not have automatic update.

[2020-04-19 09:42] xet7 commented on #2120
@cherio

Really, security researchers are asking me when most of Wekan users have updated to new enough Wekan version where critical vulnerabilities have been fixed, so that I would be confortable enough to publish full details of those vulnerabilities with PoC (Proof of Concept) code how to hack Wekan, and apply for CVE numbers. Really, I would not like Wekan users to get hacked. Currently when C

[2020-04-19 10:59] Lewiscowles1986 opened #3026 "[Feature]: export board to static site"
## Instructions for exporting board to static site

### Server Setup Information:

N/A

### Problem description:

WeKan can import from and export to JSON file format.

This is a placeholder issue to track the ability to deploy a board view, non-editable as static HTML & CSS [JS]

#### Rationale

I would like to provide read-only access to some KanBan boards on my own website, where I feel securin

[2020-04-19 12:07] xet7 commented on #3026
@Lewiscowles1986

For example at Wekan Snap:
- updates are automatic
- public boards are read-only
- Snap is at strict sandbox and code at server can not access files outside of `/var/snap/wekan/common` directory

Is there some security issue in Wekan that I'm not aware yet?

Or in which way it would be problematic?

[2020-04-19 12:21] xet7 commented on #3026
Anyway, all contributions for HTML export etc anything are welcome. Thanks!

[2020-04-19 15:12] xet7 commented on #2796
@compumatter

In newest Wekan v3.97 at All Boards page those board icons can be reordered by dragging. You can see video about that at https://github.com/wekan/wekan/pull/3027. If you use Wekan Snap version, it will automatically update, or you can update immediately manually with `sudo snap refresh`

[2020-04-19 16:14] MysterAitch commented on #3026
I can't comment on the motivations above, but one use case for this may be exporting to a GitHub pages webpage or similar.

[2020-04-19 16:18] FanyangMengDev opened #3028 "What's wrong with the releases?"
Why suddenly so much new versions have been released??? My mailbox is flooded with your email

[2020-04-19 16:30] xet7 commented on #3028
@FanyangMengDev

I added RSS feed #3017 and for that I needed to add content to those release tags.

You are watching this repo, so you get notifications for all new releases.

[2020-04-19 16:33] xet7 commented on #3028
Moved to #3017

[2020-04-19 16:33] #3028 closed

[2020-04-19 16:38] xet7 commented on #3017
I added RSS feed to Wekan webpage https://wekan.github.io and for that I needed to add content to those release tags.

I added release info for Wekan v3.88 - v3.97. Because about 637 are watching this repo, all those got 9 emails about Wekan releases to their mailbox.

That atom feed only shows newest 9 releases.

Well, I was thinking about using script and GitHub API to add releases to v1.08 - v3

[2020-04-19 16:38] #3017 closed

[2020-04-19 16:43] NoxInmortus commented on #3017
Awesome !

Thanks for your work xet7 :)))

[2020-04-19 18:23] Lewiscowles1986 commented on #3026
It's not just GitHub pages. I deployed WeKan to Heroku in the hopes of having something public. It wasn't a good fit, so instead I'll keep it as internal only. I'd still like to share, which is why the issue.

RE: @xet7 question

Not that I'm aware of, but this has a much larger attack surface than a static HTML page 😉

I think I'll experiment, just wanted to know if upstream would be interested i

[2020-04-19 18:34] xet7 commented on #3026
@Lewiscowles1986

If you don't need cards opened, already when saving Wekan page and removing Javascript file it does kind of work, if paths to images are fixed, like can be seen here:
https://wekan.github.io/demo/

Of course I'm interested. I would also be interested if someone would have time to clean up and add new pull requests for CSV/Excel export etc #395.

Wekan has 593 open issues. It's ph

[2020-04-19 18:46] xet7 commented on #3026
In theory, that static webpage could have some of Wekan features, like saving to browser local storage, exporting to various formats, and saving to some remote storage with REST API, all with that Javascript that is included to webpage. It would be interesting to see how far you can get with it.

[2020-04-19 18:49] Lewiscowles1986 commented on #3026
I only want it to display. If I get that working, it'll be open enough for anyone else to tinker with further aspects.

[2020-04-19 18:52] xet7 commented on #3026
Ok thanks!

[2020-04-19 19:04] Lewiscowles1986 commented on #3026
This sorta works

[code]

Got to change remaining anchors to spans and remove href elements on them which I might cheat and do with string replace. Then it's ensuring relative resources are saved in some way

[2020-04-19 19:51] Lewiscowles1986 commented on #3026
follow up with

[code]

[2020-04-19 20:06] Lewiscowles1986 commented on #3026
https://davidwalsh.name/javascript-zip looks like it could provide an answer on how to add CSS & attachments to a redistributable zip file

[2020-04-19 20:25] Lewiscowles1986 commented on #3026
fetching CSS file names and contents

[code]

[2020-04-19 20:26] Lewiscowles1986 commented on #3026
could maybe do something similar for images, which would require the .href = .href and .src = .src to change

I think relative path for both with the board slug being a sub-folder that images are placed within

[2020-04-19 20:37] Lewiscowles1986 opened #3029 "[Feature]: HTML added for export"
## Issue

It's more difficult than I'd like to use CSS'ish DOM selectors in JS

**Server Setup Information**:

N/A

**Problem description**:

While getting #3026 to work, I've noticed that some HTML classes could do with adding

* [ ] add classes to frame UI anchors so that I can be more precise about which anchors I turn into span elements
* [ ] add a class to the export JSON link
* [ ] short-liv

[2020-04-19 20:40] Lewiscowles1986 commented on #3026
I've spawned a stretch goal issue, but it is important in the case that links are within the cards "I think, I don't know"

[2020-04-19 22:31] zombah commented on #2366
```mongod --repair``` before mongo start adds significant timeout and may result in ECONREFUSED for wekan because mongo not ready yet. It is possible to mitigate that with
 healthcheck like this:
[code]

[2020-04-20 07:22] hardmooth commented on #2739
Has this bug been repaired in the master branch?

Because at the moment, my wekan installation is version-fixed at v3.44.

Sunny greetings and thank you

[2020-04-20 07:31] wellgoodthen commented on #2428
A fairly cumbersome workaround I've successfully used for this issue is to create new boards in Trello with the appropriate members assigned to a card, then export & import into Sandstorm Wekan.

[2020-04-20 08:17] qmercier commented on #2912
Hello,
Any update for the CAS login ? I d like to use it as well, and i could not manage to make it work... is it included in last version of wekan snap or docker ?
Thanks,
Kind regads

[2020-04-20 12:17] xet7 commented on #2739
@hardmooth

Of course, this has been fixed a very long time ago, and this is a closed issue. Only open issues are not fixed yet. Newest Wekan is v3.97.

[2020-04-20 13:46] LizVie commented on #2785
I have the same problem. Even archiving, not deleting, the origin card causes that the board containing the link, does not open anymore. Is there any timeline for fixing the bug? Because as you can imagine, in the daily work it is not always possible to sync up with the colleagues for archiving linked cards. We use version 3.97.

[2020-04-20 16:12] cherio commented on #2120
@xet7 I think you mispercieved my answer. When answering the question (you've got to agree I offered a concrete answer to the question) my criticism was not directed at wekan but at the way snapd performs updates and gives no good way of doing it manually

[2020-04-20 16:32] xet7 commented on #2120
@cherio

Yeah, nice way for you to [continue your trolling](https://github.com/wekan/wekan/wiki/FAQ#why-am-i-called-a-troll).

[2020-04-20 16:38] xet7 commented on #2120
Snap is the best automatic update system ever designed for mankind. It updates fast and automatically. It is huge win when there is new security fix for Wekan.

[2020-04-20 18:23] cherio commented on #2120
Holy cow, you just updated the wiki page by adding half of my post there and "making" me fit a troll profile. I don't even know how to call this sort of behavior. That's beyond civilized.

My post must have hurt you somehow even though it is a direct answer to the question offering a working solution and not trying to steal anyone's thunder. You simply didn't like it for whatever personal reasons.

[2020-04-20 19:39] xet7 commented on #2120
It's possible to [schedule Snap updates to happen at night](https://github.com/wekan/wekan-snap/wiki/Install#5-install-all-snap-updates-automatically-between-0200am-and-0400am).

[2020-04-20 22:04] cherio commented on #2120
Why should I? I never stated it's a pain to do so "_for Weken_" in the first place. You should read my answer again and if you see me talking about wekan there then you sir either have paranoia or twist meaning for the sake of argument. I answered the question "How can I disable the daily snap updates and just update once a week or in two weeks. **This can be done manually, no need for automation.

[2020-04-20 22:39] xet7 commented on #2120
@cherio

It's already possible to update once a week, once a month, or until specific day with Snap.
https://snapcraft.io/docs/keeping-snaps-up-to-date

No need for hacks.

I'm only against turning off updates permanently.

[2020-04-20 23:25] xet7 commented on #2120
@cherio

Now that I re-read your original comment, the solution you provided works for turning off automatic updates. I think there is currently no other way to permanently stop updates. This could be useful when running Wekan behind firewall.

I have added this info to [Snap install page](https://github.com/wekan/wekan-snap/wiki/Install) and new [Automatic update schedule page](https://github.com

[2020-04-21 21:51] mfilser commented on #2081
Hello dev's
i liked the drag-handles feature very much, it solved a lot of problems of using wekan at my mobile.
I had the version 3.56 installed a long time.
Today i updated to version 3.97 and saw the feature is gone, i have no drag-handles at the cards anymore.

Furthermore it would be great to add drag-handles to checklists as well :)

Thank you in advance for any reply.

[2020-04-21 22:00] xet7 commented on #2081
@mfilser

1. At mobile Chrome, click menu / show desktop view. Or use desktop webbrowser.

2. Open some board. Click right top corner your username / Change Settings / Show desktop drag handles.

Not everything has drag handles yet.

[2020-04-21 22:05] xet7 commented on #2081
There are differing opinions about drag handles:
a) Some do like drag handles.
b) Some do not like drag handles.
c) Some would like that at mobile, dragging should not be possible at all.
d) Some would like that dragging would start after delay, like in Trello mobile app. Although, some think dragging immediately with handle is better.
e) Some would like that drag handles should be removed complet

[2020-04-21 22:06] xet7 commented on #2081
Without visible drag handle, it's not possible to quess where to drag from.

Drag handle positioning could be improved, so that handle is not at top or under some text or image.

[2020-04-22 06:58] hardmooth commented on #2739
@xet7
Thank for your reply.

Well, I read your comment https://github.com/wekan/wekan/issues/2739#issuecomment-536106590

and the rest of the issues the following way:
* There's currently a bug on master, but you can stay on v3.44 (as a workaround)
* by using the version tag v3.44, webafrancois didn't experience the bug anymore
* thus he closed it, although the underlying bug wasn't yet fixed

Goo

[2020-04-22 08:05] mfilser commented on #2081
@xet7
Thank you a lot for your reply.

I tried your suggestion at mobile Chrome, but the drag handles are not visible at mobile after i enabled it, the drag handles are only visible at the desktop version.

I can absolutely understand that many people have different thinking how a software should work,
but also i want to mention that with version 3.97 i can't use wekan at mobile anymore. If i have

[2020-04-22 09:25] Lewiscowles1986 commented on #3026
I've got the zip thing working. It's all still very prototype right now. Are there JS events fired once the board is in a fully loaded state? Could there be?

[2020-04-22 10:27] xet7 commented on #2739
If cards can not move, that kind of bug is usually noticed and fixed fast.

[2020-04-22 10:38] xet7 commented on #3026
@Lewiscowles1986

Maybe you mean this?
[code]

[2020-04-22 13:29] mfilser commented on #2081
I found out that i can't scroll at mobile Chrome anymore since this commit, even the drag handles are visible in mobile view.
**96abe3c6 New feature: Now there is popup selection of Lists/Swimlanes/Calendar/Roles**

The commit is too big for me to find why, i think it's something with the cookies maybe ...
I only tried to setup a dev environment, i am not familiar with meteor, jade, mongo-db and a

[2020-04-22 18:37] Lewiscowles1986 commented on #3029
Not needed. Found a pivot, although a hacky one, it seems to be working.

[2020-04-22 18:37] #3029 closed

[2020-04-22 18:41] Lewiscowles1986 commented on #3026
Thanks @xet7 I managed to do something else instead. I take it that is a lifecycle event, and I may come back to it, but I meant a global entire page event using JS events rather than a specific named callback.

The pivot is that I'm basically putting this as a UI button underneath export to JSON. It could have issues, but as I'm still hacking right now, I think it's cool.

Very nice structure in

[2020-04-22 18:43] gramakri opened #3035 "Cloudron page at Wekan wiki"
I was looking into creating a better install section for Cloudron at https://github.com/wekan/wekan/wiki/Platforms . However, that page is a bit of a mess. Ideally, I would like to make a big list of all providers and each provider page can provide more information. Is this something that you would like to see as well? If so, I can help in editing the page but I am not sure how I should edit a git

[2020-04-22 18:56] xet7 commented on #3026
@Lewiscowles1986

Dockerfile is written by many contributors and me and built by Docker Hub, I don't know does it use `--squash`.
https://github.com/wekan/wekan/blob/master/Dockerfile

[2020-04-22 19:05] xet7 commented on #3035
@gramakri

Currently editing wiki by any GitHub user is disabled because of spam test pages that had comments wondering why they can edit wiki.

You can add your wiki changes as a comment to this issue.

Do these issues still affect Cloudron? #2963 #2960

Does Cloudron still make some custom changes to Wekan? Can you contribute those as pull requests?

[2020-04-22 19:14] Lewiscowles1986 commented on #3026
My bad. Locally it reports uncompressed size of 900MB, online we both have similar sizes. This solves my confusion around how and why. Thanks again.

[2020-04-22 19:18] xet7 commented on #2081
@mfilser

That commit is about these major features:
- Allow public board to open correctly in many browsers
- Allow change board view of public board, with select and reload page, using cookies

There could be some changes also related to drag handles, that would need a closer look.

[2020-04-22 20:30] rptl opened #3037 "Moving card between boards using API."
I have updated cards boarId and listId to reflect to the new board.

Cards are showing up in new, but when I click to open the card, it throws me back to the previous board (not opening anything).

Am I missing something?

Thanks!

[2020-04-22 20:55] rptl commented on #3037
Looking at database listId and swimlaneId have been updated, but boardId didn't.

Just noticed Api docs, looks like boardId is immutable using 'edit_card' api.

What is the correct way move cards between boards using Api calls?

[2020-04-22 22:03] marc1006 commented on #2535
This issue can probably be closed since the pull request has been merged.

[2020-04-23 03:52] gramakri commented on #3035
@xet7 Makes sense, we fight a lot of spam ourselves in our wiki and git repos. I will make a comment here in a while.

I wasn't aware of the issues! I will take a look (generally, we handle all issues via our forum but I guess the user wasn't aware).

We don't make any changes to upstream Wekan. We only have the LDAP integration, which we actually want to move to the upstream implementation. We ke

[2020-04-23 07:46] nebulade commented on #2960
Just wanted to give more input here, we usually push wekan updates within a couple of days when upstream hits. Wekan is also by far the most active project we have in our catalogue :-)
But this issue relies in our own LDAP code here, which was initially done back when wekan did not have support for LDAP, we are revisiting this to stay fully aligned with upstream, just have to work out how to trans

[2020-04-23 10:46] xet7 commented on #3037
@rptl

Did you update swimlaneId ?

[2020-04-23 10:49] #2535 closed

[2020-04-23 10:51] xet7 commented on #3035
@gramakri

How is your LDAP implementation different from current Wekan LDAP ?

[2020-04-23 12:04] dieTausendsassa opened #3041 "Accept/Decline button display problems"
## Issue
If the board name is too long it can cause display problems on showing Accept/Decline buttons:

<img width="295" alt="PastedGraphic-4" src="https://user-images.githubusercontent.com/48297370/80089487-505e5180-855e-11ea-8a4c-251c7bce9498.png">

<img width="297" alt="grafik" src="https://user-images.githubusercontent.com/48297370/80097206-32e3b480-856b-11ea-9573-98160b6f14a6.png">

Wekan Ve

[2020-04-23 12:06] rptl commented on #3037
@xet7, thanks.
Yes, I did. It also keeps the source swimlaneId.

[2020-04-23 12:09] xet7 commented on #3041
@marc1006

Can you look at this?

[2020-04-23 12:16] xet7 commented on #3037
@rptl

Please look at `wekan/models/*` is there something wrong with the API, and add pull request to fix it.

Currently Wekan there these features in web UI:
- Move card to other board
- Duplicate Board

The UI for those is at `wekan/client/components/`

Also see [Directory Structure](https://github.com/wekan/wekan/wiki/Directory-Structure).

Missing is at least these:
- Move list to other board

[2020-04-23 12:59] Logicbloke commented on #2598
I have had my settings reset after my snap installation updated Wekan. I was wondering why it stopped working.

[2020-04-23 15:20] IamRFC1918 opened #3042 "BUG? | Cannot create new Comments on Cards"
Hi,

**Server Setup Information**:
Wekan Version 3.97 on Kubernetes

* Wekan version: 3.97
* MongoDB Version 4.2.5

**Problem description**:
Since we are updated from Version 3.56 to 3.97 we cannot create new Comments on Cards. Also in the Card Settings, we cannot find the point Comments.
<img width="289" alt="Screenshot 2020-04-23 at 15 47 11" src="https://user-images.githubusercontent.com/284424

[2020-04-23 15:27] xet7 commented on #3042
That bug was fixed in Wekan v3.93. Please check you are running newest Wekan.
https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v393-2020-04-10-wekan-release

With normal docker, upgrade is usually this way:
[code]

You see at Wekan Admin Panel version of Wekan.

[2020-04-23 15:35] IamRFC1918 commented on #3042
Hi xet7,
We're using the newest Version. Please take a look at this Screenshot:
<img width="533" alt="Screenshot 2020-04-23 at 17 34 01" src="https://user-images.githubusercontent.com/28442477/80118473-bc55af80-8588-11ea-87a5-72d7cf27a509.png">

Maybe the Bug is again there?

[2020-04-23 15:38] xet7 commented on #3042
Maybe. Just a moment I test.

[2020-04-23 16:03] xet7 commented on #3042
That setting UI for hiding comments was removed recently, because it did not work so well.

You can try to edit MongoDB database with nosqlbooster and at boards table/collection set allowsComments to true for all boards.

[2020-04-23 16:47] IamRFC1918 commented on #3042
Thank you, this hast fixed the issue. And for new Boards, it seems Comments are enabled by default.

[2020-04-23 16:47] #3042 closed

[2020-04-24 05:58] brymut commented on #395
More than happy to have a go at this over the next week and submit a PR

[2020-04-24 07:54] daniel-eder commented on #2981
We are using MailGun, not entirely free, but effectively free for this purpose ($0.80 / 1000).
SendInBlue should work as well, and they offer 300mails/day for free.

[2020-04-24 08:59] Lewiscowles1986 commented on #3026
@xet7 I don't know if the github.io roadmap is up-to-date and appreciate you are busy.

This may provide interim solutions:

* to people with many read-only users experiencing "slowness"
* to people wishing for read-only access to "stop cards moving"

[2020-04-24 09:56] xet7 commented on #395
@brymut

Yes you are welcome to do so. I will first wait for you to try add PR.

This issue currently has [$300 bounty](https://www.bountysource.com/issues/28141826-add-feature-import-export-csv-excel-pdf). So after completing this, it's possible for you to get it. Another alternative is to give that bounty to me to support my maintaining of Wekan. Both choises are OK. [More info about bounties](h

[2020-04-24 10:07] xet7 commented on #3026
@Lewiscowles1986

Newest Wekan Roadmap link is at https://wekan.github.io, it's self-hosted on Wekan Snap version that is running on bare metal server donated to Wekan development by [CNCF](https://blog.wekan.team/2019/06/wekan-on-raspi3-and-arm64-server-now-works-and-whats-next-with-cncf/). That Roadmap is up-to-date.

Anyway, adding read-only static version for it most likely speeds up loading i

[2020-04-24 13:46] marc1006 commented on #3021
I have debugged it by using remote debugging, and there are some error messages:
[code]

I'll try to fix this.

[2020-04-24 13:54] marc1006 commented on #3021
@xet7  It works if I'm starting wekan by using this command line:
`WITH_API=true RICHER_CARD_COMMENT_EDITOR=false ROOT_URL=http://192.168.178.2:8080 meteor run --exclude-archs web.browser.legacy,web.cordova --port 8080`

[2020-04-24 22:19] marc1006 commented on #3041
@xet7 What is the expected behavior? A scrollbar inside of the "board-list-item"? Increased height of all "board-list-items"?

[2020-04-24 22:33] xet7 commented on #3041
@marc1006

Maybe increased height.

[2020-04-24 22:36] jeroenstoker commented on #2310
Same issue here, without docker. Bare.

[2020-04-25 00:16] #2947 closed

[2020-04-25 00:50] #3021 closed

[2020-04-25 06:33] dieTausendsassa commented on #3041
I think a pragmatic way is to shorten the length of the board name and invitation text. Maybe a tooltip can show the whole board name and invitation text.

[2020-04-25 07:39] marc1006 commented on #3041
Yep, I prefer that as well. So we could either use a version from the following demo (probably the "ellipsis" version): https://codepen.io/chriscoyier/pen/gvFGI

Or we can set `overflow: auto` so we see a horizontal scrollbar.

[2020-04-25 08:09] marc1006 commented on #3002
Hi @brianrc, can you please test it with the edge version of Wekan? You can either build it yourself or install it with snap (`sudo snap install wekan --edge`) as there is no official release yet.

[2020-04-25 10:06] xet7 commented on #3041
@marc1006

You can try horizontal scrollbar.

[2020-04-25 10:06] xet7 commented on #3041
Also, board title could have horizontal scrollbar.

[2020-04-25 10:12] xet7 commented on #3002
When Wekan snap is installed
https://github.com/wekan/wekan-snap/wiki/Install

Do [Backup first](https://github.com/wekan/wekan/wiki/Backup) before switching to edge. Sometimes edge is broken, use it only for testing, not production.

You can switch to edge this way:
[code]
And back to stable this way:
[code]

[2020-04-25 10:18] marc1006 commented on #2970
Hello @Michael2222, the reason for this behavior is that the label name is used to select the labels to be copied. Your labels all have an empty string as name, so all labels with the name "" are copied. The same behavior is seen when you move a card.

@xet7 Is this behavior intended?

[2020-04-25 10:28] xet7 commented on #2970
@marc1006

No. This is just a normal bug. Anyone if welcome to fix it. Most software has bugs.

[2020-04-25 10:48] marc1006 commented on #2970
@xet7 Okay, then the problem is that the label name is used as an identifier.

[2020-04-25 10:49] marc1006 commented on #3041
Version 1:
![version_1](https://user-images.githubusercontent.com/12081346/80277988-1a9ea180-86f3-11ea-974c-ba093b75432c.png)

Version 2:
![version_2](https://user-images.githubusercontent.com/12081346/80277991-1e322880-86f3-11ea-9968-068978fe4d00.png)

[2020-04-25 10:53] xet7 commented on #3041
@marc1006

I do like Version 2. What if all board icons are only as high as there is content? For example, those with that text "ada" or "test" would be about half height or smaller?

[2020-04-25 10:58] xet7 commented on #3041
@marc1006

Also, when you click `board / board title` and and add description text, check that description text is also visible.

With board title and description, some HTML and [markdown formatting](https://guides.github.com/features/mastering-markdown/)  works.

For example, set title to this:
[code]
And description to this:
[code]

[2020-04-25 11:02] marc1006 commented on #2081
@mfilser
Can you please check out the newest version of Wekan? I've re-enabled that the drag handles are always activated on mobile devices/small screens (see https://github.com/wekan/wekan/pull/3040 for details).

[2020-04-25 11:11] xet7 commented on #2081
@marc1006

I will make new Wekan release today, so I can then start closing these mobile web issues.

[2020-04-25 11:12] marc1006 commented on #3041
![version_3](https://user-images.githubusercontent.com/12081346/80278423-55ee9f80-86f6-11ea-80fb-805933a8d638.png)

Better?

[2020-04-25 11:14] xet7 commented on #3041
@marc1006

This is great !! Please make pull request, so I will merge it and after that make new Wekan release.

[2020-04-25 11:16] marc1006 commented on #2081
@xet7 Would it be possible that you can take a look at https://github.com/wekan/wekan/pull/3045/commits/f1b18d79cdbfd9c9edecf4f93a89e88ee1c6faea before doing that? I think the current behavior is really annoying (interpret a <= 20px distance drag-and-drop as a mouse click).

[2020-04-25 11:21] xet7 commented on #2081
@marc1006

Do you mean that https://github.com/wekan/wekan/pull/3045 I merged?

[2020-04-25 11:28] marc1006 commented on #2081
@xet7 Yep, thanks :)

[2020-04-25 11:33] marc1006 commented on #3041
It's still broken for mobile/small devices but this could be fixed in a separate patch.

[2020-04-25 11:39] marc1006 commented on #3041
I created a separate commit (https://github.com/marc1006/wekan/commit/e63e7b11318502e9f1238fcd7efff3c30590b29c) for the change, so it would be easier to revert the change if we go for version 1 after all.

[2020-04-25 12:21] #3041 closed

[2020-04-25 14:46] #2081 closed

[2020-04-25 14:47] xet7 commented on #3002
Please test newest Wekan v3.98

[2020-04-25 14:52] #2825 closed

[2020-04-25 14:59] xet7 commented on #2682
Please try newest Wekan.

[2020-04-25 14:59] #2682 closed

[2020-04-25 15:01] xet7 commented on #2658
Moved to #2711

[2020-04-25 15:01] #2658 closed

[2020-04-25 15:28] #2938 closed

[2020-04-25 15:37] xet7 commented on #2844
Filter for assignee was added at [Wekan v3.91](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v391-2020-04-08-wekan-release) with this code https://github.com/wekan/wekan/pull/2997

[2020-04-25 15:37] #2844 closed

[2020-04-25 15:38] xet7 commented on #2842
Try newest Wekan.

[2020-04-25 15:38] #2842 closed

[2020-04-25 15:44] xet7 commented on #2835
There is about ignoreTLS at that page:
https://github.com/wekan/wekan/wiki/Troubleshooting-Mail#starttls-sending-test-email-failed

[2020-04-25 15:44] #2835 closed

[2020-04-25 15:45] xet7 commented on #2821
Try newest Wekan.

[2020-04-25 15:45] #2821 closed

[2020-04-25 15:48] xet7 commented on #2815
Hiding subtasks was added at Wekan v3.74. It's at Board Settings / Card Settings.
https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v374-2020-02-05-wekan-release

[2020-04-25 15:48] #2815 closed

[2020-04-25 15:49] xet7 commented on #2803
Try newest Wekan.

[2020-04-25 15:49] #2803 closed

[2020-04-25 15:57] #2799 closed

[2020-04-25 15:59] #2791 closed

[2020-04-25 16:02] #2765 closed

[2020-04-25 16:05] xet7 commented on #2737
Please test newest Wekan.

[2020-04-25 16:05] #2737 closed

[2020-04-25 16:49] #2702 closed

[2020-04-25 16:50] xet7 commented on #2694
Only Admins and BoardAdmins can manage rules.

[2020-04-25 16:50] #2694 closed

[2020-04-25 16:52] xet7 commented on #2686
Moved to #1574

[2020-04-25 16:52] #2686 closed

[2020-04-25 16:54] xet7 commented on #2677
This has been fixed since [Wekan v3.88](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v388-2020-04-02-wekan-release).

[2020-04-25 16:54] #2677 closed

[2020-04-25 16:55] xet7 commented on #2673
Try newest Wekan.

[2020-04-25 16:55] #2673 closed

[2020-04-25 16:55] xet7 commented on #2673
You see ChangeLog from here:
https://github.com/wekan/wekan/blob/master/CHANGELOG.md

[2020-04-25 16:56] helioguardabaxo opened #3047 "Feature Request: Total votes / Total of possible voters"
Would be interesting add total votes per total possible voters on card(total members on board).

Something like this:

![Screenshot_2020-04-25 Kanban -(1)](https://user-images.githubusercontent.com/24301085/80285560-4e31f980-86fc-11ea-81e2-c1c03a27aac1.png)

[2020-04-25 16:56] #2669 closed

[2020-04-25 16:57] helioguardabaxo commented on #3047
@NicoP-S
What do you think?

[2020-04-25 16:57] xet7 commented on #2655
This is already fixed.

[2020-04-25 16:57] #2655 closed

[2020-04-25 17:05] xet7 commented on #2636
Try newest Wekan.

[2020-04-25 17:05] #2636 closed

[2020-04-25 17:06] #2631 closed

[2020-04-25 17:09] xet7 commented on #2597
This has already been fixed.

[2020-04-25 17:09] #2597 closed

[2020-04-25 17:10] xet7 commented on #2572
This can be hidden at Board Settings / Card Settings.

[2020-04-25 17:10] #2572 closed

[2020-04-25 17:19] xet7 commented on #2567
There are already environment variable settings for these.

[2020-04-25 17:19] #2567 closed

[2020-04-25 17:20] xet7 commented on #2548
Try newest Wekan.

[2020-04-25 17:20] #2548 closed

[2020-04-25 17:24] #2528 closed

[2020-04-25 17:29] xet7 commented on #2503
Please try with newest Wekan and this info:
https://github.com/wekan/wekan/wiki/Subtasks

[2020-04-25 17:31] xet7 commented on #2482
Wekan has API for scripting.

[2020-04-25 17:31] #2482 closed

[2020-04-25 17:34] xet7 commented on #2482
For getting info what happens at all boards, there is Global Webhooks at Admin Panel.

[2020-04-25 17:35] xet7 commented on #2443
It's possible to hide attachments at Board Settings / Card Settings.

[2020-04-25 17:35] #2443 closed

[2020-04-25 17:40] xet7 commented on #2477
There is already spinner.

[2020-04-25 17:40] #2477 closed

[2020-04-25 17:46] xet7 commented on #2440
Moved to #2537

[2020-04-25 17:46] #2440 closed

[2020-04-25 17:47] xet7 commented on #274
Moved to #2537

[2020-04-25 17:47] #274 closed

[2020-04-25 17:52] xet7 commented on #2432
Wekan v3.98 has mobile fixes for this.

[2020-04-25 17:52] #2432 closed

[2020-04-25 17:55] #2394 closed

[2020-04-25 18:03] #2325 closed

[2020-04-25 18:04] #2334 closed

[2020-04-25 18:06] #2308 closed

[2020-04-25 18:09] xet7 commented on #2288
Moved to #2970

[2020-04-25 18:09] #2288 closed

[2020-04-25 18:11] xet7 commented on #2283
Moved to #2785

[2020-04-25 18:11] #2283 closed

[2020-04-25 18:25] xet7 commented on #2197
I think it's wiredTiger something, or whichever comes default with MongoDB.

[2020-04-25 18:25] #2197 closed

[2020-04-25 18:26] xet7 commented on #2192
At Wekan v3.98 board icons use variable height, based on how muct text etc content they have.

[2020-04-25 18:26] #2192 closed

[2020-04-26 05:05] brianrc commented on #3002
Yes it works now! Thank you.

Yay!

[2020-04-26 05:05] #3002 closed

[2020-04-26 05:19] brianrc opened #3049 "Boards are very hard to tap in mobile"
Boards are very hard to tap to enter with my finger in mobile.  I can only enter the board from the "All Boards" page tapping on them maybe 1 in 4 tries. It seems I can enter by taping anywhere in the box, it just doesn't register most of the time.

Wekan version: 3.98.0
Operating System: Android
Chrome Mobile

[2020-04-26 06:25] NicoP-S commented on #3047
I added this Feature.
There is also another change which allows non Board members of public Boards to vote. If this is enabled on a public Board the Total voters are hidden.

[2020-04-26 13:05] helioguardabaxo commented on #3047
Great! :D
Vote in public board is very useful.
What do you think about to add the "finish voting" feature? Maybe could have a date/time to finish. This is necessary when we have a due date to resolve a task/card.
Nowadays we just have "delete voting and all votes". If we deleted a voting, we lose all the votes.

In this scenario, in "card actions" we could have "voting in card" item.
In the pop-ov

[2020-04-26 13:23] xet7 opened #3050 "Feature Request: Optional sort highly voted cards to top of list"
From @ocdtrekkie at other chat:

@NicoP-S what do you think?

[2020-04-26 15:43] boeserwolf commented on #3049
This could be caused by this commit: https://github.com/wekan/wekan/pull/3045/commits/f1b18d79cdbfd9c9edecf4f93a89e88ee1c6faea
But I did not further investigate.

[2020-04-26 22:33] Lewiscowles1986 commented on #3026
dockerhub codesign2/wekan:stable gets updated with cool things.

For example today and yesterday I re-factored a little to not modify the viewers document without an iframe and postmessage. I've also got a branch for some exploratory work https://github.com/Lewiscowles1986/wekan/tree/feature/microformats2-enhancement which adjusts some tagging, changes some board display issues I had for non-CSS v

[2020-04-26 22:35] Lewiscowles1986 commented on #3026
[wekan-fonts.zip](https://github.com/wekan/wekan/files/4536603/wekan-fonts.zip) this zip file might help with fontawesome too. I may grab roboto too. But as they are free, I've decided not to bundle them in this work as they are central. I could shave quite a few KB by omitting the CSS too, but that seems more important to the look & feel.

[2020-04-26 23:20] marc1006 commented on #3049
@boeserwolf Yep, you're right.

[2020-04-26 23:23] #3049 closed

[2020-04-27 00:39] marc1006 commented on #2970
What should happen if some labels to be copied are not defined for the new board? Should they be auto-created?

[2020-04-27 00:41] xet7 commented on #2970
@marc1006

Yes.

[2020-04-27 06:42] bandresen opened #3053 "Update docker package to v4.00 (latest)"
## Issue

Docker image lags behind at this point in time by 3 releases:
https://hub.docker.com/r/wekanteam/wekan/tags

[2020-04-27 08:33] davidlinc1 opened #3054 "Card creation broken on iOS devices - you cannot select the "Add Card" textarea to create cards on iOS devices using the mobile view"
Hi all, just reinstalled the latest update via docker after some time, and I'm loving how far WeKan has come. Great work!

I just wanted to bring your attention to the fact that the software is all but perfect on iOS devices except for a heart-wrenching bug that renders the core function of WeKan unusable: you cannot create cards due to a touch issue that is present on WeKan's mobile kanban view w

[2020-04-27 08:44] davidlinc1 commented on #3054
Update: I just read both the release for https://github.com/wekan/wekan/releases/tag/v3.98 which contains certain mobile fixes (though I don't see explicit mention of this issue I'm reporting) and this other open issue: https://github.com/wekan/wekan/issues/3053 - which mentions the docker package does not contain the latest version.

This may not be an issue on 4.0 as I use the docker container f

[2020-04-27 09:20] marc1006 commented on #3054
@davidlinc1 Would be great if you could update to 4.0 as soon as the docker image is available.
I've tested the current version (4.0.0) on an iPhone simulator and it worked :)

@xet7 Could you please update the docker image?

[2020-04-27 12:03] marc1006 opened #3055 "Add automated test cases"
Add acceptance/integration/load/unit/ test cases as otherwise it's really hard to maintain the code and to add additional features for (new) developers.

For the acceptance/browser test cases we could use https://www.browserstack.com/open-source?ref=pricing since it's for free for Open Source projects.

I think this issue should be given very high priority.

[2020-04-27 12:57] xet7 commented on #3054
@marc1006

Docker builds have failed for both Docker Hub and quay.io/wekan/wekan. I'll try to fix it.

[2020-04-27 12:58] xet7 commented on #3053
Docker builds have failed for both Docker Hub and quay.io/wekan/wekan. I'll try to fix it.

[2020-04-27 13:42] xet7 commented on #3053
This image now is built, this gets latest tag:
[code]
https://github.com/wekan/wekan/blob/master/docker-compose.yml#L118

Docker Hub has not finished building yet.

There is no version tag for this yet, because fix was this
was added after v4.00 . Next tag will be v4.01 when next
Wekan version will be released.

[2020-04-27 13:42] #3053 closed

[2020-04-27 13:42] xet7 commented on #3054
This image now is built, this gets latest tag:
[code]
https://github.com/wekan/wekan/blob/master/docker-compose.yml#L118

Docker Hub has not finished building yet.

There is no version tag for this yet, because fix was this
was added after v4.00 . Next tag will be v4.01 when next
Wekan version will be released.

[2020-04-27 13:43] bbyszio commented on #2987
Hi @xet7 , i've checked it with the current snap version. There ist no notification if i add antother user to a card. The user receive only a system notification if he set the tracking or watching option on the board.

[2020-04-27 14:27] andynhoo opened #3057 "Bug height cards in home"
![22222](https://user-images.githubusercontent.com/7599346/80383475-fd480f80-8879-11ea-9659-be308adfd811.png)
![11111](https://user-images.githubusercontent.com/7599346/80383479-fde0a600-8879-11ea-8526-5067c258dd63.png)

Bug in css height auto.
Change to fixed value

[2020-04-27 14:35] xet7 commented on #3057
This feature allows board icons to have variable height, depending on how much text etc that icon has. https://github.com/wekan/wekan/issues/3041#issuecomment-619362808

https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v398-2020-04-25-wekan-release

[2020-04-27 14:35] #3057 closed

[2020-04-27 16:54] davidlinc1 commented on #3054
Woohoo! I should have known it was already fixed! I just verified the issue is not present on 4.00 on my iOS devices after pulling the latest.

Thank you to @xet7 and others for spending their precious time and energy on making WeKan awesome!

[2020-04-27 16:54] #3054 closed

[2020-04-27 18:30] NicoP-S commented on #3050
Mhm at the moment there is no sorting function I think.
What will happen with the user based sorting of the cards in a list?

@ocdtrekkie what does highly voted mean?
Does it mean card __a__ has 1 vote and card __b__ has 3 votes. So card __b__ should be displayed over card __a__?
What about card __c__ without a vote?

[2020-04-27 19:35] ocdtrekkie commented on #3050
So, my thought kinda pertained to feature requests: If I had a bunch of cards with feature requests, I'd want the most requested features to float to the top. I guess that's more or less what I assumed I'd use public voting for when I heard public voting was added to Wekan.

Of course, if Wekan doesn't currently have automatic sorting capability, I guess it wouldn't make sense.

[2020-04-27 21:16] r0bbie opened #3058 "Two-factor authentication support (without using Google sign-in)"
## Issue

**Server Setup Information**:
* Wekan version: 4.0.0

**Problem description**:
Feature request for two-factor auth support within Wekan. Noted a task was previously closed for this at https://github.com/wekan/wekan/issues/1307 with the suggestion use Google sign-in as a workaround. This feature request is specifically for two-factor support using native login, and not a third-party login

[2020-04-27 21:52] mfilser commented on #2081
@marc1006  @xet7
Thank's a lot for the wekan 4.00 release, it's a big big mobile version milestone :man_dancing:
Drag Handles are back again, scrolling works at list view, and also the much better handling at the checklists :)
Of course, also to mention the whole wekan projects, it's a great work of all.

[2020-04-28 11:56] rptl commented on #2793
Faced the same issue, but from the code we can clearly see what happens:
1 - color and name is part of dict label, ie { 'label': { 'color': <str>, 'name': <str> } }

2 - You can't add a label with same name or color. By default adding a board also adds a bunch of tags color, with empty name, so you can only add new tag name with a different color.

Meaning that posting json '{ "label": { "color":

[2020-04-28 16:56] DanBenHa opened #3059 "wekan-db: high Block I/O in docker stats"
**Server Setup Information**:

* Did you test in newest Wekan?: no
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/wekan/wekan/wiki/Settings ? yes
* Wekan version: 3.97.0
* Operating System: Armbian Ubuntu 18.04 (RockPro64)
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): docker-compose (latest mongodb, wekan-app image

[2020-04-28 17:08] xet7 commented on #3059
You should not use Wekan on disk that has limited writes. Please add USB harddisk and move your /var directory to it.

Wekan is 13 years of programming work of about 180 contributors. Wekan does a lot of real time stuff. I don't yet know how to limit those writes.

[2020-04-28 17:12] xet7 commented on #3059
How does that I/O go in those stats? Is that 24.1GB reads or writes?

[2020-04-28 17:15] DanBenHa commented on #3059
I think `I` is reads and `O` is writes: https://forums.docker.com/t/what-docker-stats-net-and-block-means/37357

[2020-04-28 17:46] B-iggy opened #3060 "Added Background Image and some styles to Wekan via Stylebot"
**Problem description**:
It's not a problem. I just want to say hello and share something 👋
After Trello bothered me more and more with Atlassian account registrations I searched for an alternative - so here I am.
In the ~5 hours I read about Wekan, searched in Wekan, installed Wekan (first over snap, then Docker for better performance) and then imported the Trello board to Wekan smoothly, I wante

[2020-04-28 17:50] xet7 commented on #3060
Moved to #486

[2020-04-28 17:50] #3060 closed

[2020-04-28 18:07] helioguardabaxo commented on #3047
@NicoP-S
I don't know if you were notified for my last message suggesting some improvements. I'm citing you here. :D

[2020-04-28 18:57] NicoP-S commented on #3047
@helioguardabaxo yes i have noticed it. I started on this too. I am struggeling with the date picker. Try to commit it later on

[2020-04-28 19:32] rptl opened #3062 "[API Question] Card Settings"
Is there any API call to perform "Card Settings" tasks?

[2020-04-28 19:53] xet7 commented on #3062
@rptl

No. You can add it to files at `wekan/models/*.js` as pull request.

[2020-04-28 21:10] y0d4a opened #3063 "Ldap sync issue"
hi, i have installed wekan with snap.
have problem with AD sync.
I was change AD account and now he cannot connect, said creds. wrong, but creds. are fine.
also i get this error:

how to delete that key?

[2020-04-28 21:17] xet7 commented on #3063
@y0d4a

With nosqlbooster GUI connect to server port localhost 27019 (optionally through SSH) and remove it from wekan database cronHistory collection/table.

[2020-04-28 21:24] rptl commented on #3062
@xet7 thanks.

One more Q. I'm assuming that Label and Board title changing has no webhook? Is that correct?

[2020-04-28 21:28] y0d4a commented on #3063
to remove collections "cronHistory" ?

[2020-04-28 21:41] xet7 commented on #3063
Do not remove collection, only delete all contents of it.
[code]

[2020-04-28 21:42] xet7 commented on #3062
Please check from that code and docs at https://wekan.fi/api/

[2020-04-28 21:51] y0d4a commented on #3063
i saw now, when i list content :)
sorry, did not work on mongo until now... :)
But after that this error is missing, but still dont work, said that is invalid creds. but creds. 100% correct

[ERROR] InvalidCredentialsError: 80090308: LdapErr: DSID-0C090446, comment: AcceptSecurityContext error, data 52e, v2580

[2020-04-28 21:54] xet7 commented on #3063
https://github.com/wekan/wekan/wiki/LDAP

https://github.com/wekan/wekan/issues?q=is%3Aissue+52e+is%3Aclosed

[2020-04-28 22:05] y0d4a commented on #3063
yep, exactly that i followed...

[2020-04-28 22:06] danger89 commented on #2949
@xet7 Could you try to introduce `DELTAFACTOR` in the YML file, that then corresponds to `mouseWheel:{ deltaFactor: integer }` setting. Maybe that is the setting is what I need to get it fixed. Since `SCROLLAMOUNT` doesn't do anything in Firefox.

[2020-04-28 22:07] y0d4a commented on #3063
also see that more they have same issue, unsolved:
https://github.com/wekan/wekan-ldap/issues/52

[2020-04-28 22:54] xet7 commented on #3063
Well, you maybe need to unset and set ldap sync settings again.
[code]

[2020-04-28 22:55] xet7 commented on #3063
That's because you did delete that data from database.

[2020-04-29 07:50] DanBenHa commented on #3059
Just another thought that occurred to me: I interpret `BLOCK I/O` as disk read/write from/to mounted docker volumes. For me that's `/data/db` and `/dump`. Moving `/var` to a volume wouldn't change the high disk write to the former two directories.
When I look at the directory for `/data/db` there _is_ a lot of writing going on, even when I'm not actively using wekan (as I said, as of now I'm the o

[2020-04-29 07:56] marc1006 opened #3065 "Add better CI integration"
- [ ] basic integration: generate OpenAPI docs
- [ ] lets run it for new pull requests
- [ ] integrate tests as soon as they are available (see https://github.com/wekan/wekan/issues/3055)
- [ ] generate code coverage reports

There is a `.travis.yml` file, is it currently used by Travis-CI?

[2020-04-29 08:04] marc1006 commented on #3055
Would be great if we could use techniques like mutation testing for the unit test cases (e.g. https://stryker-mutator.io).

[2020-04-29 10:25] derbolle commented on #3059
we had the very same problem. Please make sure your Oplog config is correct and your replicaset is "active" even if you have only one db instance. I will post our docker config (for swarm although) as soon as I have time during the next days

[2020-04-29 10:36] DanBenHa commented on #3059
@derbolle Thanks for your suggestion! Yes, properly configuring the oplog was on my list but I didn't make the connection. Will try to sort the oplog config and report back.

[2020-04-29 15:10] gramakri commented on #3035
@xet7 The Cloudron package used to have a custom LDAP auth backend. We never managed to contribute this upstream because we are not meteor devs :( After your comment, we looked into this again and we have now moved to using upstream LDAP backend now (https://forum.cloudron.io/topic/2404/wekan-package-updates/2). So, at this point, the Cloudron package matches the upstream wekan 1-1.

Now that this

[2020-04-29 15:14] xet7 commented on #3035
Thanks!

[2020-04-29 21:01] marc1006 commented on #2785
It's pretty easy to workaround it... (add null/undefined checks) but then the database would be still in a non-consistent state. So the key question is what is the expected behaviour?

1. Decline the remove of a card as long as there is a link to it?

[2020-04-29 21:06] y0d4a commented on #3063
still unable to set....
is it possible to drop all ldap collection and recreate?

[2020-04-29 21:13] xet7 commented on #2785
@marc1006

2 or 3. There could be popup that asks what do about it, and on where at same or other boards that card or linked card also is.

[2020-04-29 21:17] marc1006 commented on #2970
The issue https://github.com/wekan/wekan/issues/2705 is related to this issue.

[2020-04-29 21:19] xet7 commented on #2785
Or alternatively 1, if there can be a popup that details how to really delete it. But I think navigating to other boards to remove it would be worse UX.

About removing in general, sometime later there should be thinking about plans for these features:
- Option fo all permanent deleting forbidden, only archive/unarchive possible, to prevent data loss
- Unlimited undo/redo
- Some stats/graphs

[2020-04-29 21:34] xet7 commented on #3063
@y0d4a

[Backup](https://github.com/wekan/wekan/wiki/Backup) first.

It would be better to test on other install of Wekan first, how to get LDAP working, and then apply those changes to your original install.

You can try to drop ldap collection, but do not drop users collection, because those user IDs are connected to board IDs who is where.

And it's very easy to get Wekan messed up by directly

[2020-04-29 21:35] marc1006 commented on #2785
I think this is the easiest solution for now and the best decision if we want to change the behaviour later.

Yes, I think that's a good idea. Especially since it's then easier to implement undo/redo.

See comment above.

[2020-04-29 21:38] xet7 commented on #2785
@marc1006

Yes, you can try that easiest solution with popup first.

[2020-04-29 21:40] xet7 commented on #2705
Moved to #2970

[2020-04-29 21:40] #2705 closed

[2020-04-29 21:41] xet7 commented on #2970
Moved to here from #2705

From @juliensl

[2020-04-29 22:12] derbolle commented on #3059
a hint for you: To initialize the oplog you have to go docker  exec -it into your container and call the mongo command from there to properly init the replicaset. we have a proper initialization in the docker-compose I will post in the course of the next days but this should give you a start

[2020-04-29 22:24] xet7 commented on #3059
Also Snap does not yet have replicaset. Creating it should sometime be added to here, pull requests welcome:
https://github.com/wekan/wekan/blob/master/snap-src/bin/mongodb-control#L69

[2020-04-29 22:26] xet7 commented on #2879
https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Installable_PWAs

[2020-04-29 22:42] gerroon opened #3067 "Spaces between boars in v4"
## Issue

Other Wekan issues can be added here.

**Server Setup Information**:
Debian Testing Docker

* Did you test in newest Wekan?: Yes
* Wekan version: 	4.01.0

* Operating System: Linux
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): Docker
* Http frontend if any : Apache

* Node Version:12.16.3
* MongoDB Version:4.2.3
* Wekan only works on newest desktop Firefox/Chromium/Ch

[2020-04-29 22:48] xet7 commented on #3067
See https://github.com/wekan/wekan/issues/3057#issuecomment-620026717

[2020-04-29 22:48] #3067 closed

[2020-04-30 03:57] #2879 closed

[2020-04-30 06:10] LizVie commented on #2785
I think option 3 would be the best, but I see that option 1 with the popup is the easiest way and would at least be a little improvement for our daily work. But I recognized the problem not only with deleting but also with archiving the cards.

[2020-04-30 06:17] grandinj opened #3069 "auto-creating links from issue numbers"
I would like for certains numbers to be auto-converted to links to my bug trackers.

.e.g this is what we use for mattermost:

https://github.com/mattermost/mattermost-plugin-autolink

[2020-04-30 12:10] Jimmi61 opened #3070 "Issues using template from Add Board or top bar"
Server Setup Information:

- Wekan version: 3.97.0
- Operating System: UCS 4-4-4 running on Virtualbox machine
- Webbrowser : Firefox 75 or Chrome 81 on Win 10

1. Add Board
I previously created a templace called test and later deleted it and created another called Std
![image](https://user-images.githubusercontent.com/64589114/80707086-b06a7000-8ae9-11ea-9df8-b515564e2b59.png)
now if I want to ad

[2020-04-30 14:11] y0d4a commented on #3063
i am sorry, it was my fault, i did not enter full CN, was missing one character :(
all is fine, thank you for time!

[2020-04-30 14:11] #3063 closed

[2020-05-01 06:48] B-iggy opened #3071 "Add warning popup before allowing F5 page reload, visual indicator like red dot when data is not yet saved to database, save Persistent Filter to localstorage"
## Issue

**Server Setup Information**:
* Did you test in newest Wekan?:
Yes
* Wekan version:
4.0.1

If I select a filter for me (member) and press F5 (reload the tab or reopen the tab) the filter is gone and I have to refilter again.
Is this a known bug or can I classify it as feature request?
If so, then please just add the filter you selected in the localstorage.

[2020-05-01 07:37] xet7 commented on #3071
Wekan does cache a lot to minimongo at browserside, and that all gets lost if you clear and reload with F5. So there should be warning popup before reload.

[2020-05-01 07:56] B-iggy commented on #3071
A popup is nice, but does not solve the core issue.
F5 was just one example.
Most common is to close the tab/browser and continue the work on next day with a new tab.
Expected: Wekan remembers the filter.

Trello does it as I said with easy localstorage handling.
![image](https://user-images.githubusercontent.com/7815434/80791421-df3c2100-8b91-11ea-808a-06276e1fc601.png)

Do you think this is poss

[2020-05-01 08:09] xet7 commented on #3071
Yes it is possible that it would be saved to localstorage, if someone adds code for that.

There also should be visual indicator like red dot when data is not yet saved to database.

[2020-05-01 08:16] B-iggy commented on #3071
I am still very new to Wekan but I like to code such stuff.
But I have to first learn how I can make changes to Wekan and test it directly. Something like a Gulp task, you know.
Thanks for your consideration!

[2020-05-01 08:33] xet7 commented on #3071
Using steps 3-5 you get meteor running, it will rebuild when it notices file change:
https://github.com/wekan/wekan-maintainer/wiki/Developing-Wekan-for-Sandstorm#3-fork-wekan-and-clone-your-fork

Directory Structure is here:
https://github.com/wekan/wekan/wiki/Directory-Structure

And developer docs here:
https://github.com/wekan/wekan/wiki/Developer-Documentation

Submitting filter code is here:

[2020-05-01 08:37] xet7 commented on #3071
When anonymous users are at public boards, where data can not be saved to database, I did add using cookies for saving state of Lists/Swimlanes/Calendar menu https://github.com/wekan/wekan/commit/351d4767d7e93c90ac798769d6071da8730d834f but because that requires reload of page with F5 to take effect, maybe it could work better with localstorage.

[2020-05-01 08:40] xet7 commented on #3071
Without that visual indicator, it's possible that samething looks like it's saved to card, but it's not yet saved to database, webbrowser or tab is closed, and that data is lost. That visual indicator, warning popup, localstorage etc could help.

[2020-05-01 11:30] xet7 opened #3073 "Can some Apache expert help with characters öä in htaccess rewrite rule?"
Hi,
can some Apache expert help?

I'm trying to write htaccess rule, that rewrites domain to subdirectory. It works for normal domains, but not for special character ä ö domains.

For example, exampleäandöexample.com is with punycode xn--exampleandexample-wqb95a.com

This does not work:
[code]
Also this does not work:
[code]
I also tried replacing [NC] with [NE,NC] and it did not work.

[2020-05-01 15:52] xet7 commented on #3073
I got info from Freenode IRC #httpd that I should look into PCRE regex, so I figured it out and matched it with some part of non-special character text, this works:
[code]

[2020-05-01 15:52] #3073 closed

[2020-05-02 06:02] systo opened #3074 "Vanilla Docker - ERROR: failed to register layer"
## Issue

ERROR: failed to register layer: Error processing tar file(exit status 1): write /usr/share/zoneinfo/Asia/Qyzylorda: no space left on device

- Why is the docker container trying to write zone info files? Seems suspect.

Add these issues to elsewhere:

[2020-05-02 09:27] andreasgrill commented on #1776
We recently experienced the same issue by changing wekan from a subpath `xy.com/wekan` to a sub-domain `wekan.xy.com`.
I used the following mongodb code to remove `/wekan` from the avatar URL:
[code]

[2020-05-02 09:30] xet7 commented on #3074
@systo

Do you have disk full?

[2020-05-02 09:37] xet7 commented on #1776
@andreasgrill

Can you try to make pull request that would at `wekan/server/migrations.js` [check ROOT_URL](https://github.com/wekan/wekan/blob/master/models/settings.js#L102) does it have sub-path, and run migration to correct those avatar URLs?

[2020-05-02 09:39] xet7 commented on #1776
@andreasgrill

When sub-path changes, would that require changes to other images and attachments? You could check at MongoDB database.

[2020-05-02 09:39] xet7 commented on #1776
Thanks!

[2020-05-02 10:27] DanBenHa commented on #3059
I set up the replica set and oplog, but to no avail. The `Block I/O` accumulated high values in the `O`.

I'm not sure what exactly the `O` means, though. In the meantime I played a bit with a simple Alpine Linux container, simply reading from and writing to a mounted volume. In both cases **only `I` values** were increased.

Back to the wekan-db container, I found that there's a high turnover of

[2020-05-02 10:55] andreasgrill commented on #1776
@xet7 I’ll look into it this weekend.

[2020-05-03 01:40] helioguardabaxo commented on #3016
@xet7
A workaround would be call saveMailServerInfo() method inside sendSMTPTestEmail() in settingBody.js file?

[code]

[2020-05-03 20:04] jeroenstoker commented on #2310
Also with version 4.01 this occurs

[2020-05-04 06:59] 71ae opened #3077 "Emails sent via SMTP protocol - synchronization error (input sent without waiting for greeting)"
## Emails sent via SMTP protocol - synchronization error (input sent without waiting for greeting)

**Server Setup Information**:

* Did you test in newest Wekan?: yes
* Wekan version: 4.01.0
* Operating System: Linux Ubuntu
* Deployment Method: snap
* Http frontend if any: Nginx
* Node Version: 12.16.3
* MongoDB Version: 3.2.22

**Problem description**:

- When Wekan sends out emails via smtp, th

[2020-05-04 12:59] jeroenstoker commented on #1268
Hi Synergico, does this still work? I tried, but I think I need to rebuild it after making these changes right?

(I'm a designer, with very little knowledge about Snap or Meteor)

[2020-05-04 18:25] H4usi opened #3078 "Feature Request: Highlight unread Comments"
Hi there,
it would be very helpful if we could see if someone commented a card which we did not read yet. Like, make the card yellow or so. It is not easy to keep track of all changes.

If a lot happens during the day, it is not easy to follow this up.

bye
Andre

[2020-05-05 07:55] rasos commented on #2113
As in scrum projects we usually have a quite flat hierarchy, every user should be allowed to assign or edit labels by default. An option could be added to lock all or maybe each label.

[2020-05-05 16:56] wackazong opened #3079 "OAuth via Nextcloud causes problems with missing email"
## Issue

I successfully set up nextcloud and wekan running in Docker for Windows with Wekan only allowing users authorizing via nextcloud. Problem is that users are created but do not have an email, which causes multiple problems down the way. Further problem is that I cannot add an email to the user, neither in user settings nor in admin panel due to errors.

**Server Setup Information**:

Wekan

[2020-05-05 17:06] xet7 commented on #3079
@wackazong

What errors?

[2020-05-05 17:09] wackazong commented on #3079
I cannot receive emails from Wekan, for example :)

[2020-05-05 17:14] wackazong commented on #3079
I added the properties username and emails to the user json (they were missing) in the db and now its working normally

[2020-05-06 04:53] Tampa commented on #787
The image loading is an interesting aspect. I just recently dealt with optimizing just that and found that there are image formats that can have various advantages in loading, unfortunately none of those are widely supported so you end up having to burn any performance gain you get from lower file sizes and less complex encoding on decoding them back to a usable format. On paper jpeg2000 looks lik

[2020-05-06 05:09] xet7 commented on #787
@Tampa

Do you mean it's not worth optimizing image size? That is good to know, so all that image processing and duplication complexity would not be necessary.

With query optimization only visible data could be loaded, there is info about that in Metwor docs.

[2020-05-06 05:18] xet7 commented on #787
Does someone have ideas how to reduce complexity in Wekan?

[2020-05-06 14:53] 71ae opened #3080 "Feature Request: internationalization"
It would be great if the **calendar view** could be customized for internationalization, e.g. week start (Sunday or Monday), date format (mmm/dd, dd.mm.yy, yyyy-mm-dd), and time format (12hr/am/pm, 24hr).

[2020-05-07 20:07] signalcodec opened #3082 "Feature Request: Add Currency Format Option for Custom Fields"
Would it be possible to add a format, similar to 'number' but with a currency format with currency signs ($) and comma's where appropriate.

[2020-05-07 21:15] helioguardabaxo commented on #3078
Hi, @H4usi
Have you used the notification feature?
For example, if I modify a board's "Change watch" option, any comment on the cards will create a notice to read.
In this example, the "beta" user has the "Change watch" option selected as "Watching". The user "alpha" commented on a card. The "beta" user will now receive the unread comment notification.
He can still mark it as read or click on the

[2020-05-09 02:45] signalcodec commented on #395
Thank-you for working on this...

I love this thing, excel export is the only thing stopping me convincing other folk to fully jump on-board with it. Means a lot to me.

[2020-05-09 08:21] WingDust opened #3085 "WSL install"
## Issue

**Server Setup Information**:

* Note: Please anonymize info, and do not add to this public issue any of your Wekan board URLs, passwords, API tokens etc, do you understand?:
* Did you test in newest Wekan?: NO
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/wekan/wekan/wiki/Settings ?
* Wekan version: 4
* If this is about ol

[2020-05-09 11:13] xet7 commented on #3085
@WingDust

Are you trying to:
a) Install Wekan for using it?
b) Develop new features for Wekan?

[2020-05-09 11:29] xet7 commented on #3085
Archlinux is not a beginner distro. Wekan wiki docs are only for Ubuntu and Debian.

[2020-05-09 17:06] WingDust commented on #3085
a

i want to build own soft ecological environment from zero ,so archlinux will be better

[2020-05-09 20:27] xet7 commented on #3085
@WingDust

Whoa, I don't know what "soft ecological environment" means, but anyway:

1) For using Wekan, you do not need WSL/WSL2 or Arch Linux at all. You only need Windows version of Node 12.x and any MongoDB 3.2.x - 4.x (preferably newest 4.x), unzip wekan .zip file, edit start-wekan.bat for ROOT_URL setting, like when at https://wekan.github.io click Windows, bundle instructions.

2) For devel

[2020-05-09 20:30] xet7 commented on #3085
@WingDust

Can you give link to definition of "soft ecological environment" so I would learn what is it all about?

[2020-05-10 14:20] avatar1024 commented on #2866
I have the same issue running Wekan 4.01. Some name list wrap well if long enough, while other don't and overwrite the + and hamburger menu.
![wekan-list name wrapping](https://user-images.githubusercontent.com/18719956/81501651-6fd0da80-92d1-11ea-8c3c-9c7949e2979e.png)

[2020-05-10 17:47] Tampa commented on #787
Say your image data is 100kb, if you convert it to jpeg2000 you get lossless compression by a few percentages, but have to decompress each time you want to view which takes up almost exactly twice the image data in memory and takes some cpu resources as well. Do that on 10000 images and you get quite the fireworks.

You ultimately use somewhere around 10-20% less space on disk, but trade in other

[2020-05-11 11:03] mrv777 commented on #480
Any thoughts on using Ionic?
https://ionicframework.com/

[2020-05-11 12:48] xet7 commented on #480
@mrv777

I have not used Ionic. Have you used it? How did it work? Have you made Open Source Ionic apps? URL?

Next version of Wekan will have PWA:
https://github.com/wekan/wekan/blob/master/CHANGELOG.md#upcoming-wekan-release

So Wekan can be app icon that launces Wekan fullscreen. Docs here how it will work:
https://github.com/wekan/wekan/wiki/PWA

This version of Wekan PWA does not have offline

[2020-05-11 14:15] mrv777 commented on #480
Yes, I have used it.  It was nice to work with, it's just TypeScript with easy to use plugins for various features.  The Ionic apps I have made are all blockchain related, but yes the code is open source.  Here is the most recent one:
https://github.com/mrv777/Ardor-Lite-Wallet

It's great to see Wekan will have PWA next release

[2020-05-11 21:10] jdaviescoates commented on #1846
I just wanted to do exactly this, i.e. paste a big long list and get a checklist item for each line, but it as it didn't work I searched to see if there was a way to do it and then found this issue.  Would love this feature.

[2020-05-11 21:13] jdaviescoates commented on #904
If I could import csv or txt checklists that would almost solve #1846 for me too.

[2020-05-12 20:05] jeroenstoker commented on #1268
Sorry for this... I am using snapcraft. I wil create an issue with the request for simply adding a custom URL in the admin.

[2020-05-12 20:12] xet7 commented on #1268
@jeroenstoker

There is already docs how to add theme as pull request:
https://github.com/wekan/wekan/wiki/Custom-CSS-themes

[2020-05-12 20:25] jeroenstoker opened #3086 "Add custom CSS file from URL (paid)"
## Add custom CSS file from URL.

**Server Setup Information**:
* The current version with snap
Wekan Versie	4.01.0
Meteor versie	1.10.2
Node versie	12.16.3
MongoDB versie	3.2.22
MongoDB storage engine	wiredTiger

**Problem description**:
- *I am sharing my boards with clients. It works great but... There are some design small design issues that bother me as designer. **I would like to pay** for a

[2020-05-12 20:55] jeroenstoker commented on #1268
Thank you for reminding me @xet7 . I've read that issue a couple of times but I think that is not what I am looking for. I have created a new issue on:
https://github.com/wekan/wekan/issues/3086

[2020-05-12 21:20] ikwilzitzakken commented on #3086
Ah this would be great. I am also using snapcraft, and this way I can add my custom css that will last in the future. Will donate €50

[2020-05-12 21:28] xet7 commented on #3086
I don't know yet would it be safe to allow custom CSS:
https://security.stackexchange.com/questions/24163/how-dangerous-is-it-to-use-css-styles-from-an-untrusted-source

[2020-05-12 21:28] xet7 commented on #3086
Also, custom CSS can very easily break Wekan.

[2020-05-12 21:29] xet7 commented on #3086
Doh, you already paid. Ok I'll try to figure it out.

[2020-05-12 21:34] jeroenstoker commented on #3086
Wel paid... its a small donation to be honest. I know that CSS can break it, but I think you just have to know what you are doing, also when adding CSS.

It doesn't need to be an external file. It can also be a textarea that will be just included at the bottom of the DOM for example. You'd make me very happy. Thank you a lot.

[2020-05-12 21:41] Khasem commented on #3086
Great idea! This would be very useful. It would make it also complete.

[2020-05-12 21:44] xet7 commented on #3086
I had to previously find a way [how to fix Custom Javascript in RocketChat](https://forums.rocket.chat/t/big-issue-with-custom-javascript/261/4?u=xet7) because it broke my RocketChat install.

Also, previously I had to [fix XSS bug](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v385-2020-03-23-wekan-release) because adding Javascript to input fields did run that Javascript code.

I'll tr

[2020-05-12 21:50] jeroenstoker commented on #3086
Hm... I think that when you just load a given URL, that the admin can add in the layout settings it would be fine. People that use css a lot can probably host a css file themself right?
By the way, CSS is not javascript, which is more dangerous then css I guess. I'll be patient! (I also told some friends about this).

[2020-05-12 22:09] xet7 commented on #3086
Current paid amount is visible [at Roadmap](https://boards.wekan.team/b/D2SzJKZDS4Z48yeQH/wekan-open-source-kanban-board-with-mit-license/JxrT6fkxdGcBLcp6o). Others interested in this [can also participate](https://wekan.team/commercial-support/). Most likely this requires more thinking and coding that current amount.

There could maybe be settings for font sizes, colors etc, changing those would

[2020-05-12 22:10] #3085 closed

[2020-05-12 22:50] xet7 commented on #3086
Any custom CSS could just hide all of Wekan UI and if there are many users it's disruption for everyone. So adding some specific settings would be much safer.

[2020-05-12 23:00] xet7 commented on #3086
From @jeroenstoker

Question from @xet7

What kind of branding? Related #1493

[2020-05-12 23:43] #2993 closed

[2020-05-13 02:13] jeroenstoker commented on #3086
I’m not sure if it is clear. The CSS I would like to add should be for everybody that uses our instance the system. Just like the mail settings which are also system wide.

We are a web design company and we care a lot about branding and small details. I would like to modify things like this (for now):
- Removing the x (close) buttons where it is absolute
- change the fonts and titles of the tiles

[2020-05-13 02:39] jeroenstoker commented on #3086
What I see is this:

**2 fields in the database**
- customCssActive (Boolean)
- customCssUrl (Text/varchar 256)

In the main template before the </body> tag

[code]

[2020-05-13 02:43] xet7 commented on #395
Anyone can test current version of this on Docker quay latest, with default unmodified docker-compose.yml at https://github.com/wekan/wekan

[2020-05-13 03:46] gerroon commented on #395
Is it possible to add importing the .json file from a file browser instead of pasting it to this feature? Thew reason is that big imports are very painful.

[2020-05-13 10:11] lonix1 opened #3087 "[Question] Use wekan as a basic scrum tool"
Hi wekan friends.

Wekan is a simple kanban board - it is not meant for agile project management, e.g. kanban, scrum.

BUT... I am sure many of you are nonetheless using it that way! 😉

I want to try use it as a basic scrum tool. Obviously many things are not possible, but maybe with some creativity we can do it.

My thought are:
- **stories**: use cards
- **story points**: add dropdown custom fie

[2020-05-13 12:45] chicofariasneto opened #3089 "The requested URL was not found on this server."
I created a card, and i tried to see it.

Not Found - The requested URL was not found on this server.

I using windows, and didn't find any support about this problem for windows.

i setup the root-url on localhost, and the port is 2000.

[2020-05-13 14:46] xet7 commented on #3089
[code]

[2020-05-13 14:46] #3089 closed

[2020-05-13 14:49] chicofariasneto commented on #3089
It works. Thanks!

[2020-05-13 15:01] xet7 commented on #3087
Some ideas:
- Stories:
  - Would some new custom field type be useful? Somewhere else was request for currency custom field.
- Tasks:
  - Maybe add many checklists?
- Sprints:
  - Wekan has Swimlanes in Lists/Swimlanes/Calendar menu
  - WIP limit in Card menu
  - Spent Time in Card menu
- Reports:
  - Next Wekan version will have export to CSV/TSV.
  - [Stats Dashboard script](https://github.com/w

[2020-05-13 15:17] lonix1 commented on #3087
It's a nice idea, but I'm not sure it would add real value.

Yeah

Interesting idea. That would mean a gigantic (vertically) board, but for a small project (e.g. 1 / 2 people) that could work.

Yeah! Never thought of webhooks... just pipe data somewhere else to create automated reports.

Thanks @xet7, I'm gonna play around with these ideas.

[2020-05-14 07:56] urakagi commented on #2759
I'm almost done, except attachment copy in `wekanCreator.js` and `trelloCreator.js`, and the attachments client code security handling.
@xet7 Is it OK for you that I create a PR without things above, or should I complete them first?

[2020-05-14 09:20] eksell commented on #1235
+1

[2020-05-14 09:28] eMUQI commented on #904
can wekan import Templates ?

[2020-05-14 11:00] xet7 commented on #904
@eMUQI

Not yet.

[2020-05-14 11:27] xet7 commented on #2759
@urakagi

I did add some comments to https://github.com/wekan/wekan/pull/3090#issuecomment-628568300

[2020-05-14 11:33] xet7 commented on #2759
@urakagi

I think it would be easiest that you complete those first, and then create new fork of Wekan, add your changes, and then create new pull request.

Keeping current pull request up-to-date would be harder, because if I create new Wekan release, that has release tags, there is possibility that those release tags would be included in pull request and that would mess up pull request so that I

[2020-05-14 11:35] xet7 commented on #2759
@urakagi

The benefit of you having now added your In Progress pull request is that I was able to test your In Progress code and add some comments to it. Thanks!

[2020-05-14 12:58] eMUQI opened #3091 "doc for Raspberry-Pi may have typo"
hi, i follow [this page](https://github.com/wekan/wekan/wiki/Raspberry-Pi/21af87a781474f52b2d5a81df01fd03bca089dcd#install-wekan-to-raspi3-raspi4-or-any-arm64-server) trying to install Wekan on RasPi 4.

i saw
[code]
but there is an error:
[code]
then i search on internet and found `mongo-tools`  may is right (i am not sure), then i  use `mongo-tools`  and everything performed well throughout the

[2020-05-14 13:03] geoyws commented on #2843
Yes precisely this. Sorry I didn't highlight that!

[2020-05-14 13:57] signalcodec opened #3092 "Feature Request: Add 'Advanced Filter' to Rules"
Requesting to have have the 'Advance Filter' that's at the bottom of the Filter section to be added to the Rules. So we can create custom card filters for rules.

[2020-05-14 14:15] eMUQI commented on #3091
and maybe this line has wrong hyperlink

[2020-05-14 16:13] phpeter42 commented on #3086
This would be awsome!

[2020-05-14 19:53] bl4ckh4nd commented on #3058
Would really love to have this as well. Maybe something like this can be implemented? https://www.npmjs.com/package/speakeasy

[2020-05-14 21:26] xet7 commented on #3058
What kind of two-factor auth? Do you mean for using some clientside authenticator software that has changing numbers? Like [this](https://flathub.org/apps/details/com.github.bilelmoussaoui.Authenticator) ?

Or, do you mean authentication code to email or SMS ?

[2020-05-14 21:29] xet7 commented on #3058
Or would SQRL #2460 be better?

[2020-05-14 21:50] bl4ckh4nd commented on #3058
@xet7 Personally I'd be happy with clientside authenticator via QR-Code. E-Mail or SMS might be overkill for now.

First time I heard of SQRL, looks great but not sure if needed.

[2020-05-14 22:06] xet7 commented on #3086
Currently many are asking that if they upgrade to newest Wekan:
- Is there some known issues that something will break?
- Is there some way that it's possible to permanently delete data? (yes there still is, by using delete, not archive)
- Are there some bugs that could cause board not load? (those are currently being fixed)
- Could there be some tests added to Wekan?

In general, new versions of

[2020-05-14 22:49] xet7 commented on #3086
Hmm, just in case, I'll just add that the comment above is not directed to anyone and it's not in any way personal. I'm just trying to find a safe solution.

[2020-05-15 06:49] nikolay-martynov commented on #2785
What about boards that already cannot be loaded? Will they load after the fix or we need to somehow to clean the data? Any script you can share for the latter?

[2020-05-15 12:07] r0bbie commented on #3058
@xet7 Sorry yes to clarify this request is specifically for two-factor authentication via [TOTP (Time-based One-Time Password algorithm)](https://en.wikipedia.org/wiki/Time-based_One-time_Password_algorithm), which would allow users to generate a OTP via apps like Google Authenticator, Authy, and open source alternatives like andOTP (or the GNOME Authenticator app you linked).

The flow here would

[2020-05-15 17:05] xet7 commented on #2785
@marc1006

Do you have ideas what is wrong in database if boards does not load? Could there be added a migration to `wekan/server/migrations.js` that fixes that database? Or should those linked cards at other boards be changed somehow?

[2020-05-15 19:08] xet7 opened #3094 "Bug: Can not export to CSV or TSV at Wekan for Sandstorm"
Hi,
using latest from git repo, at Sandstorm:
- Export menu does not work correctly. I tried modifying it, but then:
- Exporting to CSV and TSV did not work. There are some errors about permission denied on downloading those.

@brymut Can you look at this?

You could also test does import work.

Wekan for Sandstorm build info is at:
https://github.com/wekan/wekan-maintainer/wiki/Developing-Wekan-f

[2020-05-15 19:25] marc1006 commented on #2785
@xet7 So first of all it's pretty easy to make the boards code more robust so a board can be loaded even if the database is "corrupted" (maybe with a warning logged with `console.log(...)`).

How should an automatic migration look like? Remove all "dangling link cards"? I assume a shell script is good enough, especially as the user then knows that there was a problem.

[2020-05-15 19:50] ha-webdev opened #3095 "Can't access all boards on iOS"
![RPReplay-Final1589571887](https://user-images.githubusercontent.com/46761971/82090503-b6547980-96c3-11ea-8bca-4a6eee084cef.gif)

Only the first 8 boards are accessible

I have 20 boards but on mobile I can't scroll past the first few.

[2020-05-15 19:53] #3095 closed

[2020-05-15 19:55] xet7 commented on #2785
@marc1006

Migrations [like this](https://github.com/wekan/wekan/blob/master/server/migrations.js#L1037-L1043) are not a good idea, because migrations run only once.

It would be better to make boards code more robust for errors, so if there is something detected, and board does not load, there could be visible "fix" button. Or is there some even more friendly way?

It's too much to expect some We

[2020-05-15 19:55] laslomcd opened #3096 "Bug: Can't Scroll on All Boards Screen in iOS"
![RPReplay-Final1589571887](https://user-images.githubusercontent.com/11617046/82090887-632ef680-96c4-11ea-8a75-c158872407ac.gif)

![Screen Shot 2020-05-15 at 3 57 18 PM](https://user-images.githubusercontent.com/11617046/82091111-ce78c880-96c4-11ea-9194-55e1f50e7873.png)

You can't scroll past the first few boards in iOS. This is on Chrome Mobile and Safari
I have 20 boards but am unable to get p

[2020-05-15 20:24] xet7 commented on #2785
@marc1006

When trying to delete card,  or list that has linked cards, there could be popup:
[code]
What do you think?

[2020-05-15 20:29] xet7 commented on #3096
Yes, I'll try to fix this.

[2020-05-15 20:57] marc1006 commented on #2785
@xet7 I'm not sure if this will buy us much more besides more complexity. Before we could implement this we must first fix the problem with the card labels (see https://github.com/wekan/wekan/issues/2970).

https://github.com/marc1006/wekan/tree/dangling_link is a quick prototype for marking a card as a dangling link... I intentionally took an old version of master so that you can easily recreate

[2020-05-15 21:17] marc1006 commented on #3080
@71ae With the current version of Wekan it should be possible to set the week start (see https://github.com/wekan/wekan/pull/3032).

[2020-05-15 21:32] xet7 commented on #2785
@marc1006

Yes, most likely that is too complex idea. Nevermind. We'll look at other fixes instead.

[2020-05-16 00:10] #3096 closed

[2020-05-16 01:14] xet7 commented on #3094
I did fix menu so that it shows those options Export JSON/CSV/TSC, but only Export JSON works.

Just guessing, It could be related to what API endpoints are exposed at Sandstorm, there is different export URL for CSV and TSV. But I don't know.

Anyway, I did push newest Wekan to Sandstorm experimental. I would presume most other new features work.

[2020-05-16 06:33] brymut commented on #3094
Alright, thanks @xet7, I’ll check it out

[2020-05-16 06:35] marc1006 commented on #2785
@xet7 @superlou  Can you please take a quick look at what I did? (see my comment above) I suppose only "cosmetic" changes missing. If you or somebody else wants to work on it, you're welcome to do so (even mockups of how it should look would be helpful) :) Unfortunately, at the moment I do not have that much time.

[2020-05-16 08:22] xet7 opened #3097 "Feature Request: Import Custom Fields from Trello"
Import Custom Fields from Trello, if they are not imported yet.

Also check other custom fields issues.

[2020-05-16 17:07] helioguardabaxo commented on #3086
A alternative is create a "Custom theme" that permits customize CSS classes theme directy in application.
In Admin Panel > Settings > Layout > Edit custom theme, the user could edit just the value fields, for example:

Custom theme editor:
  /* minicards */
  .minicard
    background-color:**VALUE**
  .minicard-wrapper.is-selected .minicard,
  .minicard:hover,
  .minicard-composer.js-composer,
  .

[2020-05-16 17:43] xet7 commented on #3086
@helioguardabaxo

Yes. I'll list here related issues. I will be working on some of these, and all Wekan contributors are also encouraged to contribute to making all this happen, with pull requests or funding.

## API
- [ ] [Change all below settings both with UI and API](https://github.com/wekan/wekan/issues/3062)

## Images
- [ ] [Background image](https://github.com/wekan/wekan/issues/486#issuec

[2020-05-16 21:52] #2592 closed

[2020-05-16 22:12] helioguardabaxo commented on #3086
@xet7
I create a PR to resolve #2592

I really liked @jeroenstoker UI proposal, especially on the minicard and card-date

What do you think it's better?
Create a new theme or modify some elements for the whole system? Or none of these options?

[2020-05-16 22:20] xet7 commented on #3086
@helioguardabaxo

You just modify some elements for the whole system, affecting all themes. Then we just release it and wait for feedback is something not readable enough, and in general, does someone complain. You can create pull request for those UI changes, but not those forbidden changes for hiding things because those can already be modified in Board Settings / Card Settings.

[2020-05-16 22:22] xet7 commented on #3086
@helioguardabaxo

Do not hide that X close button. It's very hard to close card etc if there is no X.

[2020-05-16 22:27] xet7 commented on #3086
@helioguardabaxo

Actually, first you could try adding it as separate theme, to see what it looks like.

[2020-05-16 22:29] xet7 commented on #3086
@helioguardabaxo

Previously when I made some change that affected all themes, I had to revert it. So I think it's better to have separate theme, and sometime later add specific custom theme options like color etc.

[2020-05-17 01:37] helioguardabaxo commented on #3086
@xet7
Perfect!
I am going create a new theme. With X close button. ;)
Thanks for your help!

[2020-05-17 14:44] helioguardabaxo commented on #3086
@jeroenstoker
I am working in new theme with your suggestions.
Look here:
![Captura de tela de 2020-05-17 11-36-06](https://user-images.githubusercontent.com/24301085/82151709-35b48b00-9833-11ea-9d31-f5efd924ea7e.png)

I remove box-shadow and background of .list-body .open-minicard-composer:hover class
What do you think?

Have you other suggestions?

[2020-05-17 17:20] jeroenstoker commented on #3086
Ah, very nice @helioguardabaxo !! Thank you!

I will make some more small changes and post them here. Or should we open an other issue named “Small UI Improvements” or something since this current issue is more about custom css? (Your call @xet7 )

I do believe the the design can be better, that is why I started this issue in the first place. But I don’t want to bother somebody else with my way of

[2020-05-17 18:08] xet7 commented on #3086
Well, I listed quite many changes, so it probably is not small.

[2020-05-17 19:52] helioguardabaxo commented on #3086
I managed to insert the Poppins font.
Ideally, all elements should have the same font-family?

![Captura de tela de 2020-05-17 16-48-08](https://user-images.githubusercontent.com/24301085/82158522-d3717f80-985e-11ea-9853-c881a4146ad5.png)

[2020-05-17 20:00] xet7 commented on #3086
@helioguardabaxo

What operating system has Poppins font? I have not heard about that font.

By default Wekan has Roboto font included.

There should be some option to write font name, it should not be hardcoded.

[2020-05-17 20:15] helioguardabaxo commented on #3086
I don't think any operating system has that font. I did it like this:
- I downloaded the font file in / public / fonts.
- I added the code in fonts.styl:
@ font-face
   font-family: 'Poppins'
   font-style: normal
   font-weight: 400
   src: local ('Poppins'),
        local ('Poppins-Regular'),
        url ('/ fonts / poppins-regular.woff') format ('woff')

@ font-face
   font-family: 'Poppins'

[2020-05-17 20:23] xet7 commented on #3086
@helioguardabaxo

That depends on license of that font, is including to Wekan allowed. Paid fonts can not be included in Wekan, it would most likely be expensive.

[2020-05-17 20:25] xet7 commented on #3086
Also if that license has some non-commercial license, so it does not allow commercial use, that can not be used. Wekan is used also at commercial use.

[2020-05-17 20:26] xet7 commented on #3086
For current Roboto font, I did previously add new version of it to Wekan, to add support for more languages in the font.

[2020-05-17 20:52] helioguardabaxo commented on #3086
According to Google Fonts, the font contains Open Font Licence.

https://fonts.google.com/specimen/Poppins?selection.family=Roboto:wght@100;400;700&sidebar.open&query=poppins

"
These fonts are licensed under the Open Font License.
You can use them freely in your products & projects - print or digital, commercial or otherwise. However, you can't sell the fonts on their own.
This isn't legal advice

[2020-05-17 21:24] Amraneze commented on #3082
@signalcodec can you give us more information about the feature or an illustration please ?

[2020-05-17 21:31] signalcodec commented on #3082
![Capture](https://user-images.githubusercontent.com/61852162/82160521-d4001b00-984a-11ea-85b9-0938876fc2c0.PNG)

I'm looking for an additional Custom Field "Type" for Currency... that would show numbers as $***,***.** e.g. $100,000.00.

[2020-05-17 21:38] signalcodec commented on #395
The closed solution ignores custom fields.

[2020-05-17 22:08] xet7 commented on #395
@brymut

Can you add export/import of custom fields?

[2020-05-18 06:35] brymut commented on #395
No prob, I'll have a look at it this week and set up a PR. Sorry for overlooking it, just hadn't noticed it from the other import methods.

Initial thoughts on this, I'm thinking that custom fields could be represented as extra columns at the right of the rest of the import/export csv columns. With headers like maybe `CustomField-{name of field}-{type}-{showOnCard}-{automaticallyOnCard }-{showLabe

[2020-05-18 11:02] salleman33 opened #3099 "strange problem : user swaped or overloaded"
Hi,

**Server Setup Information**:
- Wekan 4.01.0
- deploy on Openshift
- Meteor : 1.10.2
- Nodejs : 12.16.3
- Mongo : 3.6.3

**Problem description**:
I have problems with some users being swaped or overloaded. I explain :
A few week ago, I saw in a board that an user (A) has been replaced by user (B). On the mongoDB, user A did not exist anymore and user B had the same ID of previous User A. It's

[2020-05-18 12:53] brianrc commented on #3086
WordPress allows admins to add css and even (gasp) edit the entire code base of php plugins and themes in it's interface. So yeah, admins could break things with bad css, but that comes with the territory of modifying any code. A big fat warning would probably suffice.

On the issues of updates, I might suggest adding a little dismissible notice shown only to admins whenever there is an update. It

[2020-05-18 14:32] grimkroton commented on #2792
Ok, I know this issue is closed, but please **do not disable SELinux**.
On a CentOS7 server, please try: `setsebool -P httpd_can_network_connect 1`. This should allow nginx or any other webserver to connect to a container.

[2020-05-18 16:10] patrickave opened #3100 "Port Change"
Hello, I am attempting to run the docker-compose stack.  I have a static macvlan I use for my hosted apps in my docker lab.  I am attempting to use wekan and have it publish to port 80 but it keeps defaulting to 8080.  I have modified the Dockerfile but it keeps reverting back to 8080.  Is there a specific value being used or forced AFTER the container comes up?  I've tried adding environment vari

[2020-05-18 16:16] RaraAvis8 commented on #2846
I've encountered exactly the same issue.

I have Wekan running inside of Docker container with Traefik for SSL. It is configured using `docker-compose.yml` file.

The image I used initially was `wekanteam/wekan:v2.01`. I've tried to update to `wekanteam/wekan:v4.03`. I've updated `docker-compose.yml` and then `docker-compose stop`/`pull`/`up -d`. But when container has started I was not able to lo

[2020-05-18 16:58] RaraAvis8 commented on #2846
Okay. I've found it in MongoDB documentation: https://docs.mongodb.com/manual/reference/connection-string/

This last `/wekan` part in `MONGO_URL` is `defaultauthdb`. If it is not specified it falls back to `admin`.

I've explicitly specified it in my `MONGO_URL`:

[code]
After this I was able to update up to v4.03.

Maybe it worth to mention in some update guide. I not sure were is the best place

[2020-05-18 17:35] RaraAvis8 commented on #2846
It looks like I cannot change wiki pages in project.
Here https://github.com/wekan/wekan/wiki/Docker if we change part of the command:
[code]
to
[code]
then manual Docker startup that is described at the page should start working.
It is also make sense to add to this page if someone is updating from pre v2.92, the parameter should be as following:
[code]

[2020-05-18 19:50] xet7 commented on #3100
[code]
Then check your ports:
https://github.com/wekan/wekan/blob/master/docker-compose.yml#L145-L149
[code]

[2020-05-18 19:55] xet7 commented on #2846
Newest docker-compose.yml with included comments and documentation is already at https://github.com/wekan/wekan

[2020-05-18 20:13] RaraAvis8 commented on #2846
Why to write on wiki page

if help is not welcome? :disappointed:

[2020-05-19 03:38] signalcodec commented on #395
Sounds great

[2020-05-19 09:56] xet7 commented on #2846
@RaraAvis8

Sorry that I closed this in accident.

Thanks! I will test does it work.

[2020-05-19 10:00] xet7 commented on #2846
Sometimes I have not drinked enough coffee and don't think enough what to answer to issues or when to close them.

[2020-05-19 10:13] MJMcC9 commented on #3094
Hi guys,
not sure if I'm adding this to the right thread.
But first of all thanks for the new features export to csv and tsv!
My colleagues and I are looking forward to using the feature.

I performed a test on our Wekan as now I'm able to see the new export functions.
Json works, but unfortunatelly csv and tsv seem a bit strange.
I converted them as txts so you can have a look at them.

If I some

[2020-05-19 11:11] brymut commented on #3094
Thanks @MJMcC9, appreciate the feedback and test txt. In regard to the result seeming a little strange, could you please elaborate on what you think doesn’t seem right.

[2020-05-19 11:15] xet7 commented on #2846
@RaraAvis8

Did you get Wekan running with Docker commands? I tried, this, and it did not work:
[code]
Maybe there is some error in syntax?

[2020-05-19 11:43] xet7 commented on #3094
@MJMcC9

Those exported csv and tsv files do not contain any real exported content. They look like trying to access csv and tsv export API URLs without logging in, or not having access to those APIs at all, so it only gets normal Wekan HTML for not-logged-in users. I don't know is this Sandstorm preventing access to those API endpoints, or does this require exposing those for Sandstorm.

For examp

[2020-05-19 11:55] sclerc-chss commented on #2710
Still present in 4.0.3

[2020-05-19 11:58] MJMcC9 commented on #3094
Hi @xet7, @brymut

Thanks for the quick response. My colleague told me that with "snap" a new release of wekan should automatically be installed. I suppose this has happend as we now have the new "export functions".

@brymut
I would have expected something like this:
board name, list name, card name, ...
MyNewBoard, MyNewListToDo, MyNewCard1
MyNewBoard, MyNewListDone, MyNewCard2

Attached a screen

[2020-05-19 12:00] sclerc-chss opened #3101 "Strange homepage presentation for tables"
**Server Setup Information**:

* Did you test in newest Wekan?: yes
* Wekan version: 4.03.0
* Operating System:Debian 9.9
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): snap
* Node Version: 12.16.3
* MongoDB Version: 3.2.22
* What webbrowser version are you using? bug confirmed on Firefox 68.8.0esr, Chrome 81, Vivaldi 3.0

**Problem description**:
We have tables with differents

[2020-05-19 12:02] xet7 commented on #3094
@MJMcC9

I think exporting to CSV and TSV does work in Snap, but not in Sandstorm.

[2020-05-19 12:04] xet7 commented on #2710
Could someone figure out the fix to CSS and add pull request?

[2020-05-19 12:06] xet7 commented on #3101
https://github.com/wekan/wekan/issues/3057

[2020-05-19 12:06] #3101 closed

[2020-05-19 12:08] xet7 commented on #395
@brymut

I don't know, try something that seems to export that data custom fields have.

[2020-05-19 12:10] brymut commented on #395
@xet7 yeah, I just realised when I opened up my text editor that I was describing the fields and not the data in the fields. Thinking of something else

[2020-05-19 12:13] xet7 commented on #3099
@salleman33

Can you try using newest MongoDB 4.x by using just docker tag `mongo` without any version number? I don't know is that MongoDB bug that is already fixed in newest MongoDB version.

Does your Wekan have enough RAM? If it does not have, it starts swapping, and slows down.

Also, if database gets out of disk space, it will corrupt.

You could Google search what that error message means.

[2020-05-19 12:20] sclerc-chss opened #3102 "Duplicate a table isn't a fully duplication"
**Server Setup Information**:

* Did you test in newest Wekan?: yes
* Wekan version: 4.03.0
* Operating System:Debian 9.9
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): snap
* Node Version: 12.16.3
* MongoDB Version: 3.2.22
* What webbrowser version are you using? bug confirmed on Firefox 68.8.0esr, Chrome 81, Vivaldi 3.0

**Problem description**:
When I duplicate a table, the l

[2020-05-19 12:41] zenhack commented on #3094
Indeed, it doesn't make a lot of sense to use wekan APIs for creating
users in the Sandstorm version, as it doesn't manage that functionality
in the first place.

Unfortunately there's not currently any official programmatic API for
sandstorm meant to be used from outside the system. There was some
discussion of adding something like that here:

    https://github.com/sandstorm-io/sandstorm/issues

[2020-05-19 12:43] zenhack commented on #2167
Indeed, it doesn't make a lot of sense to use wekan APIs for creating
users in the Sandstorm version, as it doesn't manage that functionality
in the first place.

Unfortunately there's not currently any official programmatic API for
sandstorm meant to be used from outside the system. There was some
discussion of adding something like that here:

    https://github.com/sandstorm-io/sandstorm/issues

[2020-05-19 12:57] xet7 commented on #2167
@zenhack

How could user management at #2405 be fixed so it works?

[2020-05-19 13:22] zenhack commented on #2167
What does "fixed" mean there exactly? What is the desired behavior? Is there a strong use case for multiple boards in a single grain that isn't covered by just creating more grains?

If not, it seems like the natural thing to do here would be to just hide the bits of the UI for functionality that doesn't make sense inside of sandstorm, so that users stop getting confused by them. Also probably doc

[2020-05-19 14:13] ocdtrekkie commented on #2167
@zenhack So the biggest reason Wekan stopped presenting a single-board interface in Sandstorm is things like backup and restore functionality using additional boards. There were places you could end up where the only board Sandstorm would display was not showing all the information in the grain.

Right now I believe the integration login basically makes sure a Sandstorm user has appropriate permis

[2020-05-19 14:48] RaraAvis8 commented on #2846
There is a typo in `MONGO_URL`. It should be either
[code]
or
[code]
After the change Wekan starts successfully on my PC.

[2020-05-19 14:55] RaraAvis8 commented on #2846
@xet7 Regarding the closed issue - no problem. Partially it was my fault - I wrote too much at once :-)

[2020-05-19 15:03] zenhack commented on #2167
Ok, yeah, in that case I would say tweak the logic so that *all* boards use the permissions reported by sandstorm, and hide the irrelevant bits of the UI (like user management features).

[2020-05-19 15:14] xet7 commented on #2167
At [Wekan v2.28](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v228-2019-02-27-wekan-release) was All Boards page made visible, so fix "Board not found" and enable more Standalone features in Wekan.

At [Wekan v2.90](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v290-2019-06-21-wekan-release) I did revert changing every Sandstorm Wekan board as Admin (or BoardAdmin). I would th

[2020-05-19 15:25] ocdtrekkie commented on #2167
@xet7 The short answer is that all of those things are possible, and the Sandstorm APIs already exist for Cron, Notifications, APIs, etc. but I am not sure how much work it is to integrate each with Wekan, and how much of the work the existing integration code already covers.

[2020-05-19 15:25] salleman33 commented on #3099
Hi,
Yes, RAM and disk space are ok. I will try mongo v4.
Is there a way to enable a debug mode ?

[2020-05-19 15:26] xet7 commented on #2167
From @zenhack

Having those Sandstorm user permissions affect all boards of of grain would already help a lot. I'll try to look where that code is.

[2020-05-19 15:31] xet7 commented on #3099
@salleman33

You could login inside of wekan-app grain and look what code is at packages/ejson/utils.js line 9 char 70, and also other lines of code.

You could enable debug, although I don't know how much it would help, because you already did see that error message from somewhere:
https://github.com/wekan/wekan/blob/master/docker-compose.yml#L327

[2020-05-19 16:43] zenhack commented on #2167
Probably you should just be pulling this information from Sandstorm, which provides much of it via headers (and iirc meteor-accounts-sandstorm pulls it out for you). This way the user doesn't have to change it in multiple places.

[2020-05-19 19:11] Keelan opened #3103 "Email Notification Issues?"
## Issue
When making adjustments to cards (moving, labels, assigning, members, etc) no email notifications are getting sent out. My email configuration is correct (works when i send a test email or forgot password)

**Server Setup Information**:

* Did you test in newest Wekan? **Yes**
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/we

[2020-05-19 19:29] Keelan commented on #3103
Nevermind! Looks like email notifications dont get sent to the user who moves them now (good).

[2020-05-19 19:29] #3103 closed

[2020-05-19 22:13] willhseitz commented on #812
I found today that the fairly new time tracking software, [titra](https://github.com/kromitgmbh/titra/), has a Wekan integration.
https://github.com/kromitgmbh/titra/wiki/Wekan-integration

[2020-05-19 23:14] xet7 commented on #812
@willhseitz

Thanks a lot !!!  I will add links to it to Wekan website, and create wiki page.

[2020-05-19 23:32] xet7 commented on #812
Ok I have now added it to Wekan website and ChangeLog. Thanks!!!!

[2020-05-20 08:48] GitGramm commented on #2836
Maybe this helps?
https://github.com/LukasGasior1/wekan-ical-server

[2020-05-20 12:58] xet7 commented on #2836
@GitGramm

Does ical servers in general have any kind of authentication? It would be nice to have some authentication.

It seems that the Python code just goes through Wekan calendar events to make read-only calendar page. That kind of code could as well be written in Javascript directly in Wekan code.

[2020-05-20 13:01] xet7 commented on #2836
Other way is, if you don't care about authentication, is to have setting at board to have public calendar URL enabled, similarly like setting board public.

[2020-05-20 15:29] GitGramm commented on #2836
For me read-only and no authentication is ok.

AFAIK there is a way to put authentication to an ical/caldav calender.
At least sabre https://sabre.io/dav/authentication/ can handle some authentication?

I am not the developer of the wekan-ical-server script but had the requirement to implement it on my family-board and it is now running since a year without problems:-)

I am able to code a litte b

[2020-05-20 16:22] kevinpapst commented on #812
Hi guys, maintainer of Kimai here. I was just made aware about this topic. Could anyone from the team reach out to me, so we can have a chat about possible way of integration?

[2020-05-21 06:56] ram19890 opened #6547 "wekan.database-restore cannot restoring backup from db-backups"
'$wekan.database-restore  /var/snap/wekan/common/db-backups/wekan-20200521T114110.backup

using bind ip
2020-05-21T12:05:27.962+0530    creating intents for archive
2020-05-21T12:05:28.032+0530    reading metadata for wekan.meteor-migrations from archive '/var/snap/wekan/common/db-backups/wekan-20200521T114110.backup'
2020-05-21T12:05:28.033+0530    restoring wekan.meteor-migrations from archive '

[2020-05-21 11:49] niklasdahlheimer opened #3104 "Update from 2.x.x to 4.x.x. Login not working: Fix MONGO_URL environment variable"
I write this, if anyone else stumbles across this issue, because I could not find any information about that. So hopefully this is a timesaver for someone out there searching around for a solution.

I tried updating Wekan (running as a docker container) from 2.97.0 to 4.03.0.

I followed the instructions in the release note of [Wekan 3.0.0](https://github.com/wekan/wekan/blob/master/CHANGELOG.md#v

[2020-05-21 11:49] #3104 closed

[2020-05-21 22:06] helioguardabaxo commented on #3086
@xet7 @jeroenstoker
I have a doubt:
Is it ideal to have a same font for the entire theme?
If so, I should define the font for the elements (p, h1, h2, h3, span, etc.) or for each of the classes, like the example below:
  .list-header .list-header-name
     font-family: Poppins

[2020-05-22 02:57] patrickave commented on #3100
Its due to the linux instance blocking the use of power ports.  I traced the system logs to find the access denied.  I decided to just run a simple reverse proxy using nginx.

[2020-05-22 02:57] #3100 closed

[2020-05-22 04:36] signalcodec opened #3105 "Enabling webhooks causing changes to all boards not to save"
When enabling webhooks, the wekan boards will only 'save' one action at a time before having to refresh.

If we add a card, we have to refresh to add a second. If we change a card, we have to refresh to change something else (you get the idea).

If we don't refresh after each change, anything past the first change is not kept.

It even goes as far as if we make a change, we can't log-out or get to

[2020-05-22 05:45] jeroenstoker commented on #3086
@helioguardabaxo I think that won’t be necessary.

It is a nice font for headings I think. I would not recommend Poppins for a body font. And for the content (p etc.) I think Roboto (that is currently used) is better. It has more balanced spacing and the thickness is more constant which makes it better readable.

[2020-05-22 07:09] Nine-H commented on #787
Hey guys, was this ever tabled for a release, I've been looking for a self-hosted trello alternative and wekan looks really good but I'd prefer to add the tables to my current postgres DB.

[2020-05-22 09:53] MJMcC9 commented on #3094
Hi @xet7  one of my colleagues was able to verify that we definetly run on snap. Hope it doesn't confuse to much if I post our checks here. Let me know if I should create a new issue for this.
Feel free to move it.

![snapVersion](https://user-images.githubusercontent.com/64065132/82655502-90c6f300-9c22-11ea-8c08-b1daf31e9a99.jpg)

![WekanSnapStatus](https://user-images.githubusercontent.com/64065

[2020-05-22 10:55] xet7 commented on #787
@Nine-H

You can [mirror MongoDB to PostgreSQL](https://github.com/wekan/wekan/tree/master/torodb-postgresql) for reporting etc but Wekan does not work with only PostgreSQL.

[2020-05-23 01:46] #3105 closed

[2020-05-23 08:33] hickorysb opened #3107 "Rules: If I have a card get moved to a list it is moved to the first swimlane rather than the one it was created in"
## Issue

Add these issues to elsewhere:
- Snap: https://github.com/wekan/wekan-snap/issues
- LDAP: https://github.com/wekan/wekan-ldap/issues
- UCS: https://github.com/wekan/univention/issues

Other Wekan issues can be added here.

**Server Setup Information**:

* Note: Please anonymize info, and do not add to this public issue any of your Wekan board URLs, passwords, API tokens etc, do you under

[2020-05-23 09:37] hickorysb commented on #3107
I found that Wekan isn't automatically setting the swimlane to be "*" when I leave it blank, even though it says it is in the details. It's actually setting it to undefined. If I manually set the swimlane to "*" when I create the rule it works as intended.

[2020-05-23 09:42] hickorysb commented on #3091
I do believe the `mongodb-tools` bit is a mistake and should be `mongo-tools`. However, that link seems to be spot on. While that could be put into a document that is much easier for a human to read that document does seem to include most, if not all, the other options you could include in that file along with examples.

[2020-05-23 10:20] hickorysb commented on #2757
I know this is really old, but I did solve this in issue #3107 in my comment.

[2020-05-23 17:55] marc1006 commented on #2978
@adee Seems to be the same problem as described in https://github.com/wekan/wekan/issues/3107.

I've posted a fix for it in: https://github.com/wekan/wekan/pull/3109.

[2020-05-23 18:05] marc1006 commented on #3107
@hickorysb Would be great if you could verify my fix by using my branch (see https://github.com/wekan/wekan/pull/3109) or wait until my pull request got merged.

[2020-05-23 22:13] #3026 closed

[2020-05-23 23:13] #3107 closed

[2020-05-23 23:28] #2978 closed

[2020-05-23 23:36] #2757 closed

[2020-05-24 01:58] xet7 opened #3110 "ostrio-files errors"
In newest Wekan bundle I'm getting some errors related to https://github.com/wekan/wekan/pull/3090

s390x:
[code]
arm64:
[code]
Also, snap builds seems to fail so I need to delete these garbage in build scripts:
[code]
Still testing...

[2020-05-24 05:17] xet7 commented on #3110
For arm64 bundle, I did install again request-libcurl, but then I got this error:
[code]
For Wekan Snap x64, I got it finally built, but now it seems directory is missing:
[code]

[2020-05-24 13:10] helioguardabaxo commented on #3086
@jeroenstoker
Do you use dark theme in Wekan?
What you think a dark theme based in your suggestions?
I tested Ubuntu Dark Theme colors in default theme:

![Screenshot_2020-05-17 Quadro teste 2 - Kanban UFABC](https://user-images.githubusercontent.com/24301085/82754922-9a796380-9da6-11ea-9c05-b496bab73c44.png)

[2020-05-24 13:45] rptl opened #3113 "WebHook act-moveCard sending Full Name Instead username"
Request Output:
{ text': 'Full Name moved card "card1" at board "board1" from list "queued" at swimlane "Default" to list "translating" at swimlane "Default"\nhttp://myhidendomain/wekan/b/e28LTHLHwbFkm4Rew/garcia/WaiBvPGvsBtjJet8d', 'cardId': 'WaiBvPGvsBtjJet8d', 'listId': '5jNeQ6KFvw2BDs6Fp', 'oldListId': 'Q3RYDMr3kB3ug2d7K', 'boardId': 'e28LTHLHwbFkm4Rew', **'user': 'Full Name'**, 'card': 'card1

[2020-05-24 13:54] rptl opened #3114 "Card View keep opened in mobile view after card be removed or moved from another client/user."
Steps to reproduce:
1 - On mobile, open a card
2- On a different browser, remove same card or move it to another board.

Observe card on 1. Card view keep opened, all value are gone. Expected same result as browser (close card view).

Tested on Android Chrome.

[2020-05-24 15:03] brymut commented on #395
Set up a PR for the custom fields. Each custom field will have its own column in the CSV/TSV, with the header describing the custom field and the data in the corresponding card row if the card has any data on the custom field.

[2020-05-24 15:50] cmF3 commented on #3110
Same thing is happening for me when upgrading to Wekan 4.04, Wekan 4.04 does not work after the update.

[code]

[2020-05-24 16:28] xet7 commented on #3110
About that [change to Meteor-Files](https://github.com/wekan/wekan/pull/3090) by @urakagi

Pros:
- It makes possible to upload and download attachments that have Chinese characters in filenames

Questions:
- Is it necessary to save all attachments to filesystem, so it needs to have attachments-store-path setup correctly? Could files still be stored to database?
- When attachments store path is cha

[2020-05-24 17:19] xet7 commented on #395
@brymut

I did add your PR for custom fields, but now export csv/tsv does not work at Source and Snap.

For Snap, you can try it at experimental:
[code]
You can change back to stable this way:
[code]
I did not check Sandstorm yet.

It could be related to #3110

[2020-05-24 17:34] brymut commented on #395
ok, I'll have a look

[2020-05-25 02:27] urakagi commented on #3110
- The document says it's possible to use `GridFS`. If it's the recommended way I'll try to rewrite it.
- If the server and files itself don't change, there will be no problem. But if it's like you export a board and the importing server has a different storagePath, yes the attachments won't work.
- On the file system, the files are stored with the name from the _id. The filenames are only stored i

[2020-05-25 06:12] marc1006 commented on #3110
Yep.

What was used before? GridFS? If yes, then I would also go with GridFS.

[2020-05-25 06:48] urakagi commented on #3110
@marc1006 The current code I wrote is using the file system. I don't really know if `wekan` was using GridFS or something else.

[2020-05-25 07:36] GuidoDr opened #3117 "errors in v4.04"
I had to go back to v4.03, v4.04 does show below errors in the docker log

## Issue

wekanapp   | Presence started serverId=XcLxEdRv3ein4sPND
wekanapp   | > Starting change-attachment-library migration.
wekanapp   | /build/programs/server/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:218
wekanapp   |       throw error;
wekanapp   |       ^
wekanapp   |
wekanapp   |

[2020-05-25 07:40] marc1006 commented on #3110
@urakagi Okay, so I looked into the code and it was possible to use both (untested). See commit https://github.com/wekan/wekan/commit/c569565ec09b1d4d45d1870701995221ec785aea for details. `process.env.ATTACHMENTS_STORE_PATH` was used to differentiate.

So I would presume that we should also support both cases.

I've quickly looked into the new code... there you've created a new file with the name

[2020-05-25 07:54] urakagi commented on #3110
@marc1006 That file is almost the original `models/attachments.js` and will be used for attachment migrating only.

The migration runs like this:
1. List the old attachments using `CollectionFS`.
2. Read attachment chunks from the old database then save as a new file.
3. Create a new file record using `Meteor-Files`, with needed attributes extracted from the old database. It uses a different colle

[2020-05-25 08:06] marc1006 commented on #3110
@urakagi Thanks for the explanation! What do you think about supporting both, GridFS and FileSystem?

Do you think the code is already ready for production? I really appreciate the migration to a maintained package, but I'm not sure whether the code is stable enough for a production release yet. BTW, I would suggest to use a linter for formatting the code as sometimes the indentation is off.

[2020-05-25 08:12] marc1006 commented on #3117
@urakagi Is this already fixed with the newest code?

[2020-05-25 08:16] urakagi commented on #3110
@marc1006 I think it's the best. Flexibility is always good.

I don't think the code is already ready for production, it needs more test and in fact, I found a bug on my Sandstorm machine today. I think at least I need to run a version on my private production server for like a week without serious problems.

Also, since the import/export/client code permission part is not modified yet, it's not r

[2020-05-25 08:29] urakagi commented on #3117
@marc1006 Yes.
For more detail, I found in this case the corrupted attachment files are also not able to download in the elder version wekan.
I am not sure if this modification causes such attachments to be lost though, but as I can check it's more like purging corrupted attachment records.

[2020-05-25 08:33] urakagi commented on #3117
FYI
https://github.com/wekan/wekan/blob/23dcd084a49de4e6568527d8f97ed25adb04dafd/server/migrations.js#L1054
When the file record does not have `copies` property this bug will happen. The new code will first use `CollectionFS.createReadStream()`, then read chunks directly from the MongoDB. A file record without `copies` property don't have information about the chunks, so if `createReadStream()` do

[2020-05-25 09:53] papimla opened #3118 "HTML mail notifications"
Hi,

Would it be possible for the notification mails to be sent in HTML? So that the link to the card can be clicked on instead of copy/pasted :-)

Have a nice day!

[2020-05-25 10:11] rptl opened #3119 "Move selection doesn't work"
Server Setup Information
Did you test in newest Wekan?: yes
Wekan version: 4.04.0
Operating System:Debian 9.9
Deployment Method(snap/docker/sandstorm/mongodb bundle/source): docker
Node Version: 12.16.3
What webbrowser version are you using? Android Chrome

Steps to reproduce:
1 -Click "Multi-Selection"
2- Select cards
3- Click "Move selection" and pick a list. Nothing happens.

Stack trace:
[code

[2020-05-25 10:46] xet7 commented on #3110
I'll try does reverting that ostrio-files changes work, if really attachments are still at database, because currently ostrio-files does not work on arm64 and s390x.

[2020-05-25 10:48] xet7 commented on #3110
Hmm, actually, there are some fixes in pull requests. Maybe we'll see first if this can be fixed.

Code should be changed so that files are not written to disk, they should stay at database. Most users only backup database, not other files.

[2020-05-25 10:59] xet7 commented on #3110
I think I'll move ostrio-files changes to other branch, and revert ostrio changes in master, and try to get working version released for all platforms.

[2020-05-25 11:34] t52lE4MWEcgCx commented on #1569
I also try to import a Trello board. I run Wekan in Docker on a Synology.
I created 4 users (as in Trello) - I did the user mapping, assigning all users. I hit import.
Then the Wekan container crashes. When the container is running again, I get a board that is only partially imported and I see the following message in the protocol:

TypeError: Attachments.insert is not a function
    at models/tre

[2020-05-25 12:38] marc1006 commented on #3119
@rptl Do you know since which version it's broken?

[2020-05-25 12:57] rptl commented on #3119
To be honest I have never seen it working. Started with Wekan at least 2
months ago on 3.x , so I believe before that.

On Mon, May 25, 2020, 09:38 Marc Hartmayer <notifications@github.com> wrote:

[2020-05-25 18:52] xet7 commented on #395
Custom fields import/export CSV/TSV was broken because of ostrio-files changes, I did revert those so it did seem like it does work at Snap at least, on new Wekan v4.05 I'm currently in progress of releasing.

[2020-05-25 20:50] #3119 closed

[2020-05-25 21:18] xet7 commented on #395
On Snap I'm currently getting this error. It seems that adding this check did not help https://github.com/wekan/wekan/commit/8eafa1ac66fdcf5fb5f0a95aa6cfee454ddad67f .

@brymut

Can you try to fix it?
[code]

[2020-05-25 21:24] xet7 commented on #3110
When I reverted ostrio-files changes, I got these working:
- Building for arm64 and s390x
- Export to CSV/TSV with Custom Fields that did work once, but may have some more problems here https://github.com/wekan/wekan/issues/395#issuecomment-633719121 , and it does not work on Sandstorm yet #3094

I could not get ostrio-files yet working on arm64/s390x. I'll think later what would be possible to do

[2020-05-25 21:30] xet7 commented on #3110
Also, that ostrio-files related code should not save attachments to disk.

[2020-05-26 01:05] urakagi commented on #3110
Okay, I'll change to GridFS then re-send a PR ti `feature-ostrio-files`.

[2020-05-26 06:17] NicoP-S opened #3124 "Docker docs are gone due to deleted wekan-mongodb repo"
Hi,
it seems that the wekan-mongodb repo no longer exists.
The wiki references [Backup and Upgrade](https://github.com/wekan/wekan-mongodb#backup-before-upgrading)
https://github.com/wekan/wekan/wiki/Docker#backup-and-upgrade

I did not find these docs in the wekan repo.

[2020-05-26 06:18] GuidoDr commented on #3117
just installed v4.07, the error is solved.
Thanks everyone for solving the problem.

[2020-05-26 06:18] #3117 closed

[2020-05-26 06:50] marc1006 commented on #3110
@xet7

It was possible to store the attachments on disk and on GridFS -  see commit https://github.com/wekan/wekan/commit/c569565ec09b1d4d45d1870701995221ec785aea for details. process.env.ATTACHMENTS_STORE_PATH was used to differentiate.

@urakagi So I would ask you to support both - if feasible.

[2020-05-26 07:20] urakagi commented on #3110
@marc1006 I guess it's a policy choice, it's also reasonable to limit only GridFS storage for a uniformed backup operation. By the way, the Sandstorm version does not have the filesystem and backup problem since it's all in a grain.

[2020-05-26 07:30] jeroenstoker commented on #3086
So far I havent used it yet. But what you are showing looks good! It has enough contrast I think :-)

[2020-05-26 07:35] Tampa commented on #3059
That is odd, I install wekan native since I use cloud machines for them and even on the larger boards I don't see such high cycling. The constant DB hits could hint at other issues of wekan trying to talk to the DB and failing to do so, though I doubt that is the cause it might be worth checking, especially if you have upgraded a few times already.

Generally with databases if you want to reduce t

[2020-05-26 08:05] brymut commented on #395
I'll have a look

[2020-05-26 08:11] xet7 commented on #3124
Oops. I added commands to wiki:
https://github.com/wekan/wekan/wiki/Docker#backup-and-upgrade

[2020-05-26 08:11] #3124 closed

[2020-05-26 09:22] xet7 commented on #3110
@urakagi

Also in Sandstorm, it's useful to be able to save files to grain filesystem, so when downloading .zip file of grain, attachments are directly in the .zip file. So there should be some UI options to move attachments to filesystem, to database, or somewhere else what ostrio-files makes it possible. Also, there should be possibility to edit path of attachments.

Most likely ostrio-files nee

[2020-05-26 10:01] neurolabs opened #3125 "Can't open wekan with edge (using EdgeHTML engine) - spread operator not supported"
## Can't open wekan with edge (using EdgeHTML engine) - spread operator not supported

**Server Setup Information**:

* Did you test in newest Wekan?:

* Wekan version:
v4.06 docker image, that is the latest stable version.
* Deployment Method docker-compose
* Http frontend nginx
* Wekan only works on newest desktop Firefox/Chromium/Chrome/Edge/Chromium Edge and mobile Chrome. What webbrowser vers

[2020-05-26 10:42] xet7 commented on #3125
@neurolabs

From what I read from wikipedia, MS changed from EdgeHTML to Blink in Edge at 2019.

Anyway, are you willing to try to figure out how to fix it?

[2020-05-26 11:10] jeroenstoker commented on #3086
@helioguardabaxo I have made some small changes on the Modern Theme here

[extra.css.txt](https://github.com/wekan/wekan/files/4681734/extra.css.txt)

[2020-05-26 12:36] neurolabs commented on #3125
MS released the chromium/blink version in january 2020, it's quite new. But they are not rolling it out without user interaction. Especially in corporate environments, it might take months/years before we can rely on the blink engine.
In 2019, wekan used to work with Edge, so this is a regression.
TBH, I currently don't have the time to dive into an analysis.

[2020-05-26 13:24] xet7 commented on #3125
Wekan used to have legacy browser support package, but it caused Wekan not working on iOS Safari, Mobile Firefox, Vivaldi, Chromium etc #2643 , so I did remove that legacy package:
https://github.com/wekan/wekan/blob/master/snapcraft.yaml#L219-L220

Well, I'll do some testing could I somehow include legacy package back without breaking support for other browsers.

[2020-05-26 13:51] fgrosbellet opened #3126 "Login forbidden for a single usser"
**Server Setup Information**:

* Wekan version:
* If this is about old version of Wekan, what upgrade problem you have?:
* Operating System: ubuntu 18.04.2 LTS
* Deployment Method: Docker compose (or so I believe : I have a docker container for the app and on e for the db)
* Http frontend if any: Apache
* MongoDB Version: v3.2.21
* Wekan only works on newest desktop Firefox/Chromium/Chrome/Edge/Ch

[2020-05-26 14:07] xet7 commented on #3126
@fgrosbellet

Does some user have access to Admin Panel to change your password?

[2020-05-26 14:14] helioguardabaxo commented on #3086
@xet7 @jeroenstoker
Thanks!

[2020-05-26 15:44] neurolabs commented on #3125
@xet7 a very kind thank you for putting effort into this.

[2020-05-26 18:46] smokhtari-pacdev commented on #2109
This is a problem when boards are private and people don't want others (let say other admins) to see their activity as it sends out the details of private boards too. I suppose it shouldn't be doing that by default. If someone wants that on a Private board they should add it there.
Thank you!

[2020-05-26 20:01] xet7 commented on #3022
Moved to here from https://github.com/wekan/wekan/issues/2109#issuecomment-634208080

From @smokhtari-pacdev about global webhooks

This is a problem when boards are private and people don't want others (let say other admins) to see their activity as it sends out the details of private boards too. I suppose it shouldn't be doing that by default. If someone wants that on a Private board they should

[2020-05-26 20:01] xet7 commented on #2109
@smokhtari-pacdev

Your issue moved to https://github.com/wekan/wekan/issues/3022#issuecomment-634248516

[2020-05-26 21:18] compumatter opened #3127 "How To Use Board Templates?"
## Issue
**Server Setup Information**:
Linux / Ubuntu 18.04

* Note: Please anonymize info, and do not add to this public issue any of your Wekan board URLs, passwords, API tokens etc, do you understand?: Yes
* Did you test in newest Wekan?: Yes
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/wekan/wekan/wiki/Settings ?
* Wekan version

[2020-05-26 21:37] xet7 commented on #3127
@compumatter

There is per-user templates, but there is still some templates features missing:
https://github.com/wekan/wekan/wiki/Templates

[2020-05-26 21:41] compumatter commented on #3127
Thanks for the reply.

I have reviewed this page: https://github.com/wekan/wekan/wiki/Templates

Yes, even using as per-user and not admin, the result is the same as
shown in the video.

Really see no way to get it done.

The "search for Template Board" I presume is looking for the Swimlane
Title as I see no other method for naming.  However, when typing in the
that name I receive no responses as

[2020-05-26 22:27] nickian opened #3129 "Board Email Notifications"
Is there documentation somewhere that explains what email notifications are sent based on what actions, etc?

I have SMTP set up correct and test mails come through fine. However, I don't see any email notifications come through when I set a board to "watching" and make changes, or when a due date is passed, etc. Is this normal? Would I only see email notifications from other users maybe? I don't

[2020-05-26 22:39] xet7 commented on #3129
https://github.com/wekan/wekan/blob/master/docker-compose.yml#L256-L290

Similar exist for Snap:
https://github.com/wekan/wekan-snap/wiki/Supported-settings-keys

Also see right side menu Webhooks at
https://github.com/wekan/wekan/wiki

And [Notification drawer like Trello](https://github.com/wekan/wekan/pulls?q=is%3Apr+is%3Aclosed+notification+drawer)

[2020-05-26 22:43] nickian commented on #3129
Great, thanks!

[2020-05-26 22:43] #3129 closed

[2020-05-27 00:18] xet7 commented on #3127
@compumatter

Sorry, I think wiki text page is not good enough, I should try to create video about how it works. I try to explain below.

In you video, I see you have not created any board templates.

https://github.com/wekan/wekan/wiki/Templates

c) Create Board Templates
- Create List to Board Templates Swimlane
- Create card to list.
- Clicking black folder icon on that card goes to Board templ

[2020-05-27 00:24] xet7 commented on #3127
I tried to add more clear text to Templates wiki page.

[2020-05-27 01:18] urakagi commented on #3110
@xet7

Okay, but it seems like a long plan. I'll just separate them by if `process.env.ATTACHMENTS_STORE_PATH` is set at this time.

[2020-05-27 01:35] xet7 commented on #3110
@urakagi

Yes, if `ATTACHMENTS_STORE_PATH = ""` (empty, not set) then it should use database.

[2020-05-27 02:34] urakagi commented on #3110
@xet7 I think simply `if (ATTACHMENTS_STORE_PATH)` will work?

[2020-05-27 02:46] xet7 commented on #3110
@urakagi

It should be similar to https://github.com/wekan/wekan/blob/master/server/scroll.js

You check for `!== ''` (empty string), and set public variable so you can read it also clientside.

[2020-05-27 02:55] xet7 commented on #3110
Well, depending is that needed at clientside at all.

For serverside, there is checks at `wekan/models/*.js` like this:
[code]
For clientside, for elsewhere:
[code]
If it's not defined, then it runs at both. For example, permission checks etc should run at serverside.

[2020-05-27 02:59] xet7 commented on #3110
For settings, usually they are tested are they empty string, because Snap/Docker/Sandstorm settings are made with environment variables often defaulting to empty string. That variable still can be null or something other and still exist, so checking only for existence is not enough, I think

[2020-05-27 03:09] urakagi commented on #3110
Hmm? But we treat empty string and null and undefined the same here right? Since in Javascript empty string has a false value, I think checking it's true-false value is enough?

[2020-05-27 03:55] nickian opened #3130 "Swimlanes Title Bar Width"
I'm not sure if this is a bug or there's a reason for it, but I noticed the swimlane title bar does not extend to the width of all of your columns if you have columns beyond 100% of the browser window. This seems to happen in all themes.

Initially it looks correct:

<img width="1521" alt="screenshot1" src="https://user-images.githubusercontent.com/590678/82976120-821e6a00-9f9b-11ea-9daf-62a0d4ffb

[2020-05-27 09:55] fgrosbellet commented on #3126
Unfortunately, this account was the only active admin account.

If this can help : active users can't reset their password via "Forgot your password?" : this raises an internal server error.

[2020-05-27 15:57] zulipon opened #3132 "Wekan Browser Compatibility"
I have searched this issue on google and github and the manual, but cant find a reference to it.
I am looking for WEKAN-BROWSER compatibility matrix.

We need to access Wekan using older browsers because the organization I'm working at is still using windows XP.

The Wekan we installed is a recent one (installed a few days ago (in May 2020) on Ubuntu 18.04 using the command:
sudo snap install weka

[2020-05-27 19:28] Keelan opened #3133 "Due Date Email Notifications"
## Issue

When the due date is close an email is sent out. I would assume it would only be sent to members of the card. But it goes to everyone who is on the board regardless if they are a member of the card or not.

**Server Setup Information**:

* Did you test in newest Wekan?: **Yes**
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/

[2020-05-27 20:25] marc1006 commented on #3110
@urakagi It depends on whether the empty string is a valid value or not (I assume in this case it's not a valid value). But for example, a common problem with the `||` operator is that the number 0 is evaluated as false, but actually it could be a valid value.

[2020-05-27 21:12] xet7 commented on #3132
I added something like that, someone can comment or add issue if knows more info:
https://github.com/wekan/wekan/wiki/Browser-compatibility-matrix

[2020-05-27 21:49] xet7 commented on #3126
[code]
and then change some user to admin

https://github.com/wekan/wekan/wiki/Forgot-Password

[2020-05-28 11:05] fgrosbellet commented on #3126
Thank you, I was able to solve my problem from the admin panel. This two different issues, none of them was due to Wekan itself.

I have a last question : I have deprecated users who won't login anymore. Is it ok to delete them or would you recommend not to do so in order to keep the db coherent?

[2020-05-28 11:05] #3126 closed

[2020-05-28 11:40] xet7 commented on #3126
You should set users as not active, and change their password. Not delete them.

[2020-05-28 13:48] habenamare commented on #3082
@signalcodec Is your feature request implemented?

[2020-05-28 14:30] xet7 commented on #812
Hi @willhseitz @saschafoerster @mbrgm etc everyone.

Question to you all, that have used both Wekan and time tracking apps, how should integration between Wekan and Kimai work? What it should track, and how? Any screenshot mockups, etc?

I did also send email to @kevinpapst , and got a reply, so we are thinking about this a little.

[2020-05-28 14:34] xet7 commented on #3082
AFAIK Currency format custom field is already at newest Wekan.

[2020-05-28 15:16] willhseitz commented on #812
I would certainly check out the integration titra.io has with Kimai. I would only call it a "one-way integration", as titra uses the Wekan API to query a picklist of Cards from a single Column.

An option for Kimai would be to "stay in sync" with Wekan. Depending on how the Boards, Cards, and Columns linked up to the different objects in Kimai, any changes made in Wekan would be sent to Kimai. IMO

[2020-05-28 15:34] habenamare commented on #3082
This issue is not closed at Bountysource. @xet7 Can you check the integration? Maybe using [Bountysource Tools](https://www.bountysource.com/tools)?

[2020-05-28 15:48] xet7 commented on #3082
@habenamare

Please claim bounty at:
https://www.bountysource.com/issues/91369519-feature-request-add-currency-format-option-for-custom-fields

[2020-05-28 16:06] xet7 commented on #3082
@habenamare

It could be the button "Solve issue"

[2020-05-28 17:40] habenamare commented on #3082
I know but claiming is enabled only if the issue is closed at Bountysource. And since the issue at Bountysource is a mirror of this GitHub issue, with a correctly working integration

[2020-05-28 17:49] xet7 commented on #3082
@habenamare

Maybe it requires this issue is open. Now try to claim it.

[2020-05-28 18:01] zulipon commented on #3132
Thank you XET7

[2020-05-28 19:11] compumatter commented on #3127
Thank you for your efforts.  It gave me a few clues.  In truth, some things are still not intuitive / clear.  I did figure it out.  Templates are sooooo important that I created a video to show others what I ran into and how they are created.  It also shows a few areas where things did not work intuitively so may be improved upon. Perhaps with a little tooltip help when hovering.

Please see this

[2020-05-28 19:24] xet7 commented on #3127
@compumatter

Wow thanks a lot for creating that video.

[2020-05-28 19:24] xet7 commented on #3127
I did add video to wiki page https://github.com/wekan/wekan/wiki/Templates

[2020-05-28 19:30] xet7 commented on #3127
@compumatter

Those avatar icons on board template card are the following, although at per user templates they are not used for these purposes at all:

1) Underlined one is that you assignee, who is assigned to card, like in Jira, as the main responsible one for implementing that card. There can be only one assignee per card.

2) Non-underlined one means you are member of the card. There can be ma

[2020-05-29 04:01] xet7 commented on #3132
@zulipon

You can use [MyPal browser on WinXP](https://feodor2.github.io/Mypal/), it is Firefox based, Open Source, up-to-date, and works with Wekan. I updated matrix.

[2020-05-29 04:01] #3132 closed

[2020-05-29 04:58] xet7 commented on #3125
@neurolabs

In what Wekan version EdgeHTML did work?

[2020-05-29 05:46] stefanvangastel commented on #3125
I have same issue with wekan:latest, downgraded to v3.97 and everything worked.

[2020-05-29 07:17] habenamare commented on #3082
@xet7
Thanks for your suggestions, but a claim can only be submitted if the issue is detected as closed at Bountysource. I am sure because I have encountered this same issue before in another repo and the fix was integrating Bountysource with the repo correctly.

For reference, checkout the [Bountysource FAQ](https://github.com/bountysource/core/wiki/Frequently-Asked-Questions).

[2020-05-29 09:39] saschafoerster commented on #812
It's nice to see, that Wekan und Kimai, two open source projects we really like, come together.
Still I see that so many poeple use both tools so differently that it might be difficult to find the way that works for everyone.

For us, we use wekan not so much for project management and as a tasklist, but as a content planning tool. Cards are for us "Content", they move from left to right as they g

[2020-05-29 09:57] nickian opened #3134 ""Invalid Email" Error"
I'm using the latest Snap version. I know 100% that my SMTP information is correct. When I click to send a test email, I just get a browser alert saying "Invalid email." What is this error referring to? The email set in my user profile, or the email set in the SMTP settings? Is there a more detailed error log somewhere?

I'm not sure if this is related, but another thing I noticed: As an admin use

[2020-05-29 09:58] fgrosbellet commented on #3126
Noted, thanks for your answer.

[2020-05-29 11:29] marc1006 commented on #3134
I fixed a check, and that's probably why it's showing up now.... (see https://github.com/wekan/wekan/pull/3112/commits/6e088af3d13b3b5912b783b485681bbd44ea4427).

It depends on the email setting of the logged in user if I understand the code correctly.

[2020-05-29 11:38] marc1006 commented on #3134
Here is a fix for it: https://github.com/wekan/wekan/pull/3135

[2020-05-29 11:42] marc1006 commented on #3134
[snip...]

I don't know the semantics for an admin user, but to me this looks like another issue.

[2020-05-29 12:18] CondensedTea opened #3136 "Feature Request: notification about inviting to a new board"
It would be nice if users could get notifications about invitations not only by mail, but also with push notfications, which are already integrated.

[2020-05-29 14:16] ikteru commented on #2489
This is something I'm really interested in as well. Emphasis on WIP limit per user. An other interesting feature is a dynamic WIP limit that changes depending on how many slots are available in other columns. So, let's say working has 2 free slots, waiting became full, then a solution would be to assign one of working's free slots to waiting.

[2020-05-29 16:52] #3082 closed

[2020-05-29 16:54] xet7 commented on #3082
@habenamare

I did close this. Try to login to bountysource and claim it. I could not figure out how to integrate it better, it seems it's integrated already.

[2020-05-29 16:55] xet7 commented on #3082
Also other Wekan contributor has already claimed other bounty, so I don't know what is missing.

[2020-05-29 17:21] xet7 commented on #3125
@neurolabs

You should make [Backup](https://github.com/wekan/wekan/wiki/Backup) first.

Old versions of Wekan can only used offline, not directly connected to Internet, because they are vulnerable. Also, there are many bugfixes in newer versions, so it's very likely that you can hit a bug that causes board not open or something other error, so you need to take backups minimum once a day, preferab

[2020-05-29 18:03] fgomezotero opened #3137 "Feature Request: Import Custom Fields from Wekan JSON Export"
* Did you test in newest Wekan?: Yes
* Wekan version: 4.09
* Operating System: Official image from quay.io
* Deployment Method(snap/docker/sandstorm/mongodb bundle/source): Deployed in Openshift Container Platform
* Node Version: 12.16.3
* MongoDB Version: 3.2
* Wekan only works on newest desktop Firefox/Chromium/Chrome/Edge/Chromium Edge and mobile Chrome. What webbrowser version are you using? L

[2020-05-29 19:07] neurolabs commented on #3125
Last working version is v4.01, v4.02 does show the error.

[2020-05-29 19:45] teutat3s commented on #2310
I made a gist with recent error logs of wekan version `3.17.0` (please excuse the outdated version, but recent reportings indicate this bug is a nasty longstanding one).

I hope this can be of help for everybody who would like to debug this further.

https://gist.github.com/teutat3s/9f9543d5d62f66ba915c06f3608bb4d5

[2020-05-29 20:26] compumatter opened #3138 "Deleted Template Environment - how to regenerate ?"
## Issue

Other Wekan issues can be added here.

**Server Setup Information**:

* Note: Please anonymize info, and do not add to this public issue any of your Wekan board URLs, passwords, API tokens etc, do you  understand?: YES
* Did you test in newest Wekan?: YES
* For new Wekan install, did you configure root-url correctly so Wekan cards open correctly https://github.com/wekan/wekan/wiki/Settin

[2020-05-29 20:30] habenamare commented on #3082
Thanks for trying, maybe detecting a closed GitHub issue takes some time.

[2020-05-29 21:51] marc1006 commented on #2310
@xet7 I've a super ugly hack to fix this... it's more a description of what's broken than an actual fix. Since I'm not used to Meteor (and Collections2 and collections hooks), it was the easiest fix I came up with.

Commit: https://github.com/marc1006/wekan/commit/5fd167c18288c716d6cf9325ed5d9cdc9f2b8567

I hope it helps to actually fix this long outstanding issue.

[2020-05-29 23:19] nickian commented on #3134
Ok, I can test when the next snap release is available to refresh.

I also noticed that when I change the SMTP info via the command line, those changes aren't reflected in the web admin UI. Should those be two methods be saving the values to the same place? Or does the CLI override the web UI settings?

I'm not receiving any email notifications, but I'm hoping it's related to this "invalid email"

[2020-05-30 00:50] rptl opened #3139 "Firefox "Exception from Tracker afterFlush function: undefined""
Below error is thrown on browser console only, every time an input dialog pops up. Ie: "Add new board", change Board name, etc.

Error in MacOS Firefox 76.01
Windows Firefox 73.01

Consistent in on my local fresh install and app.sandstorm.io demo

Steps to reproduce.
1 - open Browser Dev Tools console
2 - click in Add Board (or add label, or try to change board name),

[code]

[2020-05-30 04:54] xet7 commented on #3138
@compumatter

1) At `All Boards` page you have one board, you can export it to Wekan JSON.
2) At Admin Panel, create new user with `New` button that is at right at top of `Edit` buttons.
3) Edit your new user, set it as admin. Add username and email address if they are missing. Maybe add full name, if it seems to be possible.
4) Login as that new user. Import your Wekan board JSON from previous ex

[2020-05-30 05:14] xet7 commented on #2310
@marc1006

Please add it as pull request. If it works, it's beautiful.

[2020-05-30 05:19] xet7 commented on #2310
Hmm, maybe I'll add it to Wekan myself.

[2020-05-30 05:33] #3127 closed

[2020-05-30 06:57] marc1006 commented on #2310
Hmmm... in my opinion it was to hacky... :) But another question, why did you remove the `fibers` package? https://github.com/wekan/wekan/commit/7226afdc39b59851ba7afcdb7edbc9eca5359b86 Does the fix work without the `fibers` package as I'm importing it here https://github.com/marc1006/wekan/commit/5fd167c18288c716d6cf9325ed5d9cdc9f2b8567#diff-f6d2ad84ddf13953e40c20d9f4214316R1112 ?

[2020-05-30 07:00] xet7 commented on #2310
@marc1006

AFAIK fibers is included in build scripts.

[2020-05-30 07:04] xet7 commented on #2310
Building Snap package did work fine without having fibers in those dependencies. If I remember correctly, I got errors when it was included in dependencies.

Also, fibers CPU-specific, so for arm64 and s390x fibers is built separately, and then combined to bundle in build scripts.

[2020-05-30 07:55] marc1006 commented on #2310
@xet7 I now get the warning (but it works, though):
[code]

BTW, it would be interesting to rework the building scripts (Dockerfile, snapcraft, etc...) so we can re-enable `web.browser.legacy`, a test showed me that it works with Firefox if I'm building Wekan with the cmdline above and https://github.com/wekan/wekan/commit/1235363465b824d26129d4aa74a4445f362c1a73 reverted.